<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark blue-green-gradient">
  <!-- Navbar brand -->
  <a class="navbar-brand d-flex align-items-center" style="cursor: pointer">
    <img
      class="brand-logo"
      src="https://apddcf.ap.gov.in/cdn/img/ap-logo.png"
      style="width: 50px"
    />
    <h5 class="brand-text text-white mb-0 font-weight-normal ml-1">
      Andhra Pradesh Dairy Development Cooperative Federation Limited (APDDCF)
    </h5>
  </a>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item text-right">
        <a
          class="navbar-brand d-flex align-items-center"
          style="cursor: pointer"
        >
           <img
            class="brand-logo"
            src="https://apddcf.ap.gov.in/cdn/img/CM.png"
            style="width:50px"
          />  
         <div class="text-center">
            <h6 class="brand-text text-white mb-0 font-weight-normal ml-1">
              Sri Nara Chandrababu Naidu
            </h6>
            <p style="font-size: 12px; margin-bottom: 0; color: #fff">
              Hon’ble Chief Minister, <br />
              Andhra Pradesh
            </p>
          </div>  
        </a>
      </li>
    </ul>
  </div>
  <!-- Collapsible content -->
</nav>
<!--/.Navbar-->

<!--Menu-Navbar -->
<nav
  class="menu-navbar navbar navbar-expand-lg navbar-dark primary-color-dark py-md-0 text-white"
>
  <a class="navbar-brand d-md-none d-block" style="cursor: pointer">MENU</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto align-items-center">
      <li class="nav-item dropdown" routerLinkActive="active">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-333"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor: pointer"
          ><i class="fab fa-wpforms"></i> Menu
        </a>
        <div
          class="dropdown-menu dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink-333"
        >
          <a
            class="dropdown-item"
            routerLink="ScheduleCreation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            SCHEDULE CREATION
          </a>
          <a
            class="dropdown-item"
            routerLink="MeetingAttendance"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            MEETING ATTENDANCE
          </a>
          <a
            class="dropdown-item"
            routerLink="MeetingOfMeeting"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            MINUTES OF MEETING
          </a>
          <a
            class="dropdown-item"
            routerLink="mcuMapping"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            MILK COLLECTION CENTRE - FUNCTIONARIES MAPPING
          </a>
          <a
            class="dropdown-item"
            routerLink="addPromoters"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            PROMOTERS ADDITION
          </a>
          <a
            class="dropdown-item"
            routerLink="MpuacAccountCreation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            MDAC BANK ACCOUNT CREATION
          </a>
          <a
            class="dropdown-item"
            routerLink="AssistantSecretaryAddition"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            SECRETARY / ASSISTANT SECRETARY ADDITION
          </a>
          <a
            class="dropdown-item"
            routerLink="SecretaryTraining"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            SECRETARY / ASSISTANT SECRETARY TRAINING
          </a>
          <a
            class="dropdown-item"
            routerLink="AmcuBuildingInspection"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            AMCU BUILDING INSPECTION
          </a>
          <a
            class="dropdown-item"
            routerLink="handOver"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            HANDOVER THE AMCU BUILDING
          </a>
          <!-- <a 
            class="dropdown-item"
            routerLink="registerFarmer"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            FARMER REGISTRATION
          </a> -->
          <a
            class="dropdown-item"
            routerLink="FarmerListByVolunteers"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            VOLUNTEER REGISTERED FARMER LIST
          </a>
          <a
            class="dropdown-item"
            routerLink="registerFarmerStatus"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            FARMER REGISTRATION STATUS
          </a>
          <a
            class="dropdown-item"
            routerLink="InvalidBankAccountsList"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            PENDING INVALID BANK ACCOUNTS LIST
          </a>
          <a
            class="dropdown-item"
            routerLink="PaymentStatusCheck"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            PAYMENT STATUS CHECK
          </a>
          <!-- <a class="dropdown-item" routerLink="AmcuInspection"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
            AMCU INSPECTION
          </a> -->
          <a
            class="dropdown-item"
            routerLink="EditSecAsssecDetails"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            EDIT SECRETARY / ASSISTANT SECRETARY DETAILS
          </a>
          <a
            class="dropdown-item"
            routerLink="DeadMigrationApproval"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            DEAD & MIGRATION FARMER APPROVAL LIST
          </a>
          <a
            class="dropdown-item"
            routerLink="MigrationReturnRequest"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            MIGRATION RETURN REQUEST
          </a>

          <a
            class="dropdown-item"
            routerLink="FarmerSocietyChange"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            FARMER SOCIETY CHANGE FORM
          </a>
 
          <a
            class="dropdown-item"
            routerLink="SocietyChangeRequests"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            FARMER SOCIETY CHANGE RAISED REQUESTS
          </a>

          <a
            class="dropdown-item"
            routerLink="EditMdacAccount"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            EDIT MDAC ACCOUNT
          </a>

          <a
            class="dropdown-item"
            routerLink="EditMdacAccountRequests"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            EDIT MDAC ACCOUNT REQUESTS
          </a>

          <!-- <a
          class="dropdown-item"
          routerLink="FarmerDeadUpdation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          FARMER DEAD UPDATION
        </a> -->

            <a
            class="dropdown-item"
            routerLink="EditPromoters"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            EDIT PROMOTERS
          </a>

          <a
            class="dropdown-item"
            routerLink="EditPromotersRequests"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            EDIT PROMOTERS REQUESTS
          </a> 
          <a
            class="dropdown-item"
            routerLink="ScheduleUpdation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            MEETING RE-SCHEDULE
          </a>
          <a
            class="dropdown-item"
            routerLink="FeedIndentDashboard"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            FARMER FEED INDENT DASHBOARD
          </a>
          <a
            class="dropdown-item"
            routerLink="FarmerKccUpload"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            FARMER KCC UPLOAD
          </a>
          <a
            class="dropdown-item"
            routerLink="FarmerMilkPouringCertificate"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            FARMER MILK POURING CERTIFICATE
          </a>
          <a
            class="dropdown-item"
            routerLink="MentorDashboard"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            FARMER MILK POURING CERTIFICATE DASHBOARD
          </a>
          <a
            class="dropdown-item"
            routerLink="gswsPersonUpdate"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            GSWS PERSON DETAILS REAL-TIME UPDATE
          </a>
          <a
            class="dropdown-item"
            routerLink="MentorFarmerDetailsUpdate"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            FARMER DETAILS UPDATE
          </a>

          <!-- <a
          class="dropdown-item"
          routerLink="loan-details"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          LOAN DETAILS  
        </a> -->

        <a
        class="dropdown-item"
        routerLink="Invalidbankacntreqraise"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        INVALID BANK ACCOUNT REQUEST RAISE 
      </a>
      <a
      class="dropdown-item"
      routerLink="Invalidbankacntreqraisestatus"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      INVALID BANK ACCOUNT RAISE REQUEST STATUS
    </a>
        <!-- <a class="nav-link" routerLink="functionariesUpdate">
          <i class="fab fa-wpforms"></i> functionaries Update
        </a> -->

        <a
        class="dropdown-item"
        routerLink="functionariesUpdate"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >FUNCTIONARIES UPDATE
      
      </a>
        

      <!-- <a
      class="dropdown-item"
      routerLink="Notifications"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
    Notifications
    </a> -->

        </div>
      
      
      
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-333"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor: pointer"
          ><i class="fab fa-wpforms"></i> Inspection
        </a>
        <div
          class="dropdown-menu dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink-333"
        >
          <a
            class="dropdown-item"
            routerLink="MilkInspection"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Milk Inspection
          </a>
          <a
            class="dropdown-item"
            routerLink="SocietyInspection"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Society Inspection
          </a>
          <a
            class="dropdown-item"
            routerLink="PayWiseInspection"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Payment Inspection
          </a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-333"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor: pointer"
          ><i class="fab fa-wpforms"></i> BMCU Construction
        </a>
        <div
          class="dropdown-menu dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink-333"
        >
          <a
            class="dropdown-item"
            routerLink="FirstPriorityList"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Priority BMCUs List (Must be completed by June)
          </a>
          <a
            class="dropdown-item"
            routerLink="FeasibilityOfLand"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Feasibility of Land
          </a>
          <a
            class="dropdown-item"
            routerLink="RegistrationOfLand"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Registration of The Land
          </a>
          <a
            class="dropdown-item"
            routerLink="OtherFacilities"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Other Facilities At Site
          </a>
          <a
            class="dropdown-item"
            routerLink="BasementLevel"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Basement Level
          </a>
          <a
            class="dropdown-item"
            routerLink="SuperStructure"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Super Structure Level
          </a>
          <a
            class="dropdown-item"
            routerLink="Finishings"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Finishing Level
          </a>
          <a
            class="dropdown-item"
            routerLink="OtherInfrastructure"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Other Infrastructure
          </a>
        </div>
      </li>

      
      <li class="nav-item dropdown" routerLinkActive="active">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-333"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor: pointer"
          ><i class="fab fa-wpforms"></i> Report An Issue
        </a>
        <div
          class="dropdown-menu dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink-333"
        >

        <a
            class="dropdown-item"
            routerLink="IssueEntryDetails"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
              Issues Entry Details
          </a>

          <a style="display: none;"
            class="dropdown-item"
            routerLink="IssueRegister"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Register Issue
          </a>
          

          <a
            class="dropdown-item"
            routerLink="IssuesList"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            View Registered Issues
          </a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active"  style="display: none;">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-333"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor: pointer"
          ><i class="fab fa-wpforms"></i> Guidelines
        </a>
        <div
          class="dropdown-menu dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink-333"
        >
          <a
            *ngFor="let guideLine of guideLines"
            class="dropdown-item"
            style="cursor: pointer"
            (click)="btnDocumentDownload(guideLine.URL)"
          >
            {{ guideLine.NAME }}
          </a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active" style="display: none;">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-333"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor: pointer"
          ><i class="fab fa-wpforms"></i> User Manuals
        </a>
        <ul
          class="dropdown-menu multi-level dropdown-primary custom-sub-dropdown-menu"
          role="menu"
          aria-labelledby="dropdownMenu"
        >
          <li>
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="btnDocumentDownload(kccApplicationFormUrl)"
            >
              KCC Application Form
            </a>
          </li>

          <li>
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="btnDownloadUserManual(1)"
            >
              Invalid Bank Account Updation
            </a>
          </li>

          <li>
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="btnDownloadUserManual(2)"
            >
              Mentor Village Meeting PART-I
            </a>
          </li>

          <!-- <li>
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="btnDownloadUserManual(3)"
            >
              Mentor Village Meeting PART-II
            </a>
          </li> -->

          <li>
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="btnDownloadUserManual(15)"
            >
              Edit Secretary & Assistant Secretary Details
            </a>
          </li>

          <li class="dropdown-submenu">
            <a
              class="dropdown-item"
              style="cursor: pointer"
              routerLinkActive="active"
              >Inspection <i class="fa fa-angle-right"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  (click)="btnDownloadUserManual(4)"
                >
                  Milk Inspection
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  (click)="btnDownloadUserManual(5)"
                >
                  Society Inspection
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  (click)="btnDownloadUserManual(6)"
                >
                  Payment Inspection
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="btnDownloadUserManual(7)"
            >
              Issue Tracking
            </a>
          </li>

          <li class="dropdown-submenu">
            <a
              class="dropdown-item"
              style="cursor: pointer"
              routerLinkActive="active"
              >BMCU Contruction <i class="fa fa-angle-right"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  (click)="btnDownloadUserManual(8)"
                >
                  Feasibility Of Land
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  (click)="btnDownloadUserManual(9)"
                >
                  Registration Of Land
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  (click)="btnDownloadUserManual(10)"
                >
                  Other Facilities At Site
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  (click)="btnDownloadUserManual(11)"
                >
                  Basement Level
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  (click)="btnDownloadUserManual(12)"
                >
                  Super Structure Level
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  (click)="btnDownloadUserManual(13)"
                >
                  Finishing Level
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  (click)="btnDownloadUserManual(14)"
                >
                  Other Infrastructure
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="btnDownloadUserManual(16)"
            >
              Farmer Milk Pouring Certificate
            </a>
          </li>

          <li>
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="btnDownloadUserManual(17)"
            >
              Farmer Dead & Migration Approvals
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="btnDownloadUserManual(18)"
            >
              Farmer Feed Indent Approvals
            </a>
          </li>

          <li>
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="btnDownloadUserManual(19)"
            >
            Volunteer Household Survey
            </a>
          </li>


        </ul>
      </li>


      <li class="nav-item dropdown" routerLinkActive="active">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-333"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor: pointer"
          ><i class="fab fa-wpforms"></i> NPDD
        </a>
        <ul
          class="dropdown-menu multi-level dropdown-primary custom-sub-dropdown-menu"
          role="menu"
          aria-labelledby="dropdownMenu"
        >
        <li>
          <a
          class="dropdown-item"
          routerLink="ScheduleCreationNPDD"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          SCHEDULE CREATION NPDD
        </a>

        <a
        class="dropdown-item"
        routerLink="NPDDAttendance"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        MEETING ATTENDANCE NPDD
      </a>

      <a
      class="dropdown-item"
      routerLink="NPDDScheduleApprovalsReprt"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
    SCHEDULE APPROVALS REPORT
    </a>
        

        </li>

        </ul>
      </li>


      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" style="cursor: pointer" (click)="btnReports()">
          <i class="fab fa-wpforms"></i> Reports
        </a>
      </li>

      

      <li *ngIf="mdssshowhide"
      class="nav-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="nav-link" routerLink="/mdss/mdssDocumentsUpload">
        <i class="fab fa-wpforms"></i> MDSS
      </a>
    </li>



      <!-- <li class="nav-item dropdown" routerLinkActive="active">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-333"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor: pointer"
          ><i class="fab fa-wpforms"></i> MDSS
        </a>
        <div
          class="dropdown-menu dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink-333"
        >
          <a
            class="dropdown-item"
            routerLink="../mdss/mdssDocumentsUpload"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
          MDSS 
          </a>
        
        </div>
      </li> -->
      








      <!-- <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/mdss">
          <i class="fab fa-wpforms"></i> MDSS
        </a>
      </li> -->

<!-- 
        <li   *ngIf="adm" class="nav-item dropdown" routerLinkActive="active">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-333"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor: pointer"
          ><i class="fab fa-wpforms"></i> Admin Screens
        </a>
        <div
          class="dropdown-menu dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink-333"
        >

        <a
            class="dropdown-item"
            routerLink="meetingimages"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
              Meeting to Landing Images
          </a>

         
          

         
        </div>
      </li>   -->



    </ul>








    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown" routerLinkActive="active">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          id="navbarDropdownMenuLink-333"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor: pointer"
        >
          <h6 class="mb-0 mr-1">
            Welcome <b>{{ userName }}</b>
          </h6>
          <i class="fas fa-user"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink-333"
        >
          <!-- <a class="dropdown-item" href="#" routerLink="">Profile</a> -->
          <a
            class="dropdown-item"
            style="cursor: pointer"
            (click)="btnForgetPassword()"
          >
            <i class="fas fa-key"></i> Forget Password
          </a>
          <a
            class="dropdown-item"
            style="cursor: pointer"
            (click)="btnLogout()"
          >
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
          <hr class="my-1" />
          <a class="dropdown-item text-center" style="cursor: pointer">
            <span
              >Last logged in: <br />
              <b class="text-danger">{{ lastLoginTime }}</b></span
            >
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Menu-Navbar -->

<!--Main Content -->
<div id="page-container">
  <div id="content-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11 mx-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <!--Footer Content -->
  <footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center pt-3">
      <a style="cursor: pointer; color: #fff">
        <img
          src="https://apddcf.ap.gov.in/cdn/img/apddcf-circle.png"
          style="width: 30px"
        />
        Andhra Pradesh Dairy Development Cooperative Federation Limited (APDDCF)
      </a>
    </div>
    <!-- Copyright -->
  </footer>
  <!--/.Footer-Content -->
</div>
<!--/.Main-Content -->
<!-- <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="functionariesUpdate">
          <i class="fab fa-wpforms"></i> functionaries Update
        </a>
      </li> -->