<div class="card">
    <div class="card-header p-2">
      <h5 class="mb-0">SECRETARY / ASSISTANT SECRETARY TRAINING</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="rbkId">RSK <span style="color: red">*</span></label>
            <select
              id="rbkId"
              class="form-control"
              [(ngModel)]="scheduleData.rbkId"
              (change)="onRbkChange()"
            >
              <option value="">-- SELECT RSK --</option>
              <option value="{{ obj.RBK_ID }}" *ngFor="let obj of rbkList">
                {{ obj.RBK_NAME }}
              </option>
            </select>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="form-group">
            <label for="villageId"
              >VILLAGE <span style="color: red">*</span></label
            >
            <select
              id="villageId"
              class="form-control"
              [(ngModel)]="scheduleData.villageId"
            >
              <option value="">-- SELECT VILLAGE --</option>
              <option
                value="{{ obj.VILLAGE_ID }}"
                *ngFor="let obj of villageList"
              >
                {{ obj.VILLAGE_NAME }}
              </option>
            </select>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="form-group">
            <label for="trainingVenue"
              >SCHEDULE TRAINING VENUE <span style="color: red">*</span></label
            >
            <input
              id="trainingVenue"
              type="text"
              class="form-control"
              [(ngModel)]="scheduleData.trainingVenue"
              placeholder="Please Enter Training Venue"
              maxlength="50"
              autocomplete="off"
            />
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="form-group">
            <label for="trainingAddress"
              >SCHEDULE TRAINING VENUE ADDRESS
              <span style="color: red">*</span></label
            >
            <input
              id="trainingAddress"
              type="text"
              class="form-control"
              [(ngModel)]="scheduleData.venueAddress"
              placeholder="Please Enter Training Venue Address"
              maxlength="50"
              autocomplete="off"
            />
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="form-group">
            <label for="trainingDate"
              >SCHEDULE TRAINING DATE <span style="color: red">*</span></label
            >
            <app-date-picker
            [PlaceHolder]="'Please Select Training Date'"
            [(selectedDate)]="scheduleData.trainingDate"
            [minDate]="minDate"
          ></app-date-picker>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="form-group">
            <label for="trainingTime"
              >SCHEDULE TRAINING TIME <span style="color: red">*</span></label
            >
            <input
              id="trainingTime"
              type="time"
              class="form-control"
              [(ngModel)]="scheduleData.trainingTime"
              placeholder="Please Enter Training Time"
              maxlength="8"
              autocomplete="off"
            />
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="form-group">
            <label for="trainingAgenda"
              >TRAINING AGENDA <span style="color: red">*</span></label
            >
            <input
              id="trainingAgenda"
              type="text"
              class="form-control"
              [(ngModel)]="scheduleData.trainingAgenda"
              placeholder="Please Enter Training Agenda"
              maxlength="50"
              autocomplete="off"
            />
          </div>
        </div>
  
        <div class="col-md-12" align="center">
          <button
            type="button"
            class="btn btn-success btn-sm"
            (click)="btnSubmit()"
          >
            SUBMIT
          </button>
        </div>
      </div>
    </div>
  </div>
  