
<div class="card" >
    <div class="card-header p-2">
      <h5 class="mb-0">MDSS Registration Report</h5>
    </div>
    <div class="card-body">
<!--  -->
      <div class="row">
        
<div class="col-md-12" style="overflow-x:auto;" *ngIf="Districtdiv"> 
  <div class="col-md-12">
    <button
      type="button"
      class="btn btn-success btn-sm pull-right"
      (click)="btnExcel()"
    >
      <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
      Download Excel
    </button>
    <button
      type="button"
      class="btn btn-info btn-sm pull-right"
      (click)="btnExcelallmdssdet()" title="All MDSS DEtails"
    >
      <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
     All MDSS DETAILS     </button>
  </div>
     <table
        class="table table-striped ah-table text-center" 
        datatable  [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger"
        
      >
        <thead class="bg-success text-white">
         
          <tr>
            <th >S.No.</th>
            <th >DISTRICT NAME</th>
           
          <th>NO OF ROUTES</th>
          <th>ELIGIBLE RSKS</th>
          <th> SCHEDULED RSKS</th>
                   

          <th>NO OF MEETING COMPLETED RSKS        </th>
           
          <th>CORRECT DOCUMENTS UPLOADED RSKS        </th>
           <th>SUBMITTED RSKS        </th>
          <th>ROLLBACKED RSKS        </th>
          <th> PENDING RSKS DLCO        </th>
          <th>PENDING RSKS DCO        </th>
          <th>PENDING RSKS GM/ AR      </th>
          <th>PENDING RSKS COMMISSIONER        </th>
          <th>REGISTERED RSKS  </th>
          
           
        </tr>
           
        </thead>
        <tbody *ngIf="MdssRegGetData?.length > 0">
          <tr *ngFor="let obj of MdssRegGetData; let j = index">
            <td>{{ j+1 }}</td>
            <td>
              <a
                style="cursor: pointer; text-decoration: underline"
                class="text-primary"
                (click)="clickDistrictDetails(obj)"
                ><b>{{ obj.DISTRICT }}</b></a
              > 
             </td>
                                  
            <td>{{ obj.NO_OF_ROUTES }}</td>
            <td>{{ obj.ELIGIBLE_RBKS }}</td>
            <td>{{ obj.SCHEDULED_RBKS }}</td>
            <td>{{ obj.MEETING_RBKS }}</td>         
            <td>{{ obj.DOC_UPLOADED_RBKS }}</td>
            <td>{{ obj.SUBMITTED_RBKS }}</td>
            <td>{{ obj.REJECTED_RBKS }}</td>
            <td>{{ obj.PENDING_RBKS_DLCO }}</td>           
            <td>{{ obj.PENDING_RBKS_DCO }}</td>
            <td>{{ obj.PENDING_RBKS_GM }}</td>
            <td>{{ obj.PENDING_RBKS_COMM }}</td>
            <td>{{ obj.REGISTERED_RBKS }}</td>
           
                
          </tr>
        </tbody>
        <tbody *ngIf="MdssRegGetData?.length > 0">
            <tr>
              <td>--</td>
              <td>
                <b>TOTAL</b>
              </td>
              <td><b>{{ MdssRegTotal.NO_OF_ROUTES | indianNumber}}</b></td>
         <td><b>{{ MdssRegTotal.ELIGIBLE_RBKS | indianNumber}}</b></td>
         <td><b>{{ MdssRegTotal.SCHEDULED_RBKS | indianNumber}}</b></td>
         <td><b>{{ MdssRegTotal.MEETING_RBKS | indianNumber}}</b></td>         
         <td><b>{{ MdssRegTotal.DOC_UPLOADED_RBKS| indianNumber }}</b></td>
         <td><b>{{ MdssRegTotal.SUBMITTED_RBKS | indianNumber}}</b></td>
         <td><b>{{ MdssRegTotal.REJECTED_RBKS | indianNumber}}</b></td>
         <td><b>{{ MdssRegTotal.PENDING_RBKS_DLCO | indianNumber }}</b></td>           
         <td><b>{{ MdssRegTotal.PENDING_RBKS_DCO | indianNumber}}</b></td>
         <td><b>{{ MdssRegTotal.PENDING_RBKS_GM | indianNumber}}</b></td>
         <td><b>{{ MdssRegTotal.PENDING_RBKS_COMM | indianNumber}}</b></td>
         <td><b>{{ MdssRegTotal.REGISTERED_RBKS | indianNumber}}</b></td>
                          
             
            </tr>
          </tbody>
      </table>
        
      </div>

      <div class="col-md-12" style="overflow-x:auto;" *ngIf="Rootdiv"> 
        <div class="col-md-12 row">
        <div class="col-md-3">
          <label>
            DISTRICT :
            <span class="text-success">
              <b> {{ distrctname }}</b>
            </span>
          </label>
        </div>
        
        <div class="col-md-3">
          
      </div>
        <div class="col-md-6">
          <button
                  type="button"
                  class="btn btn-sm btn-info pull-right"
                  (click)="btnback()"
                >Back</button>
          <button
            type="button"
            class="btn btn-success btn-sm pull-right"
            (click)="btnExcelsecond()"
          >
            <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
            Download Excel
          </button>
        </div>
      </div>
        <table
           class="table table-striped ah-table text-center" 
           datatable  [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger"
           
         >
           <thead class="bg-success text-white">
            
             <tr>
               <th >S.No.</th>
               <th >ROUTE NUMBER</th>
              <th>RIC NAME</th>
              <th>RIC MOBILE NUMBER</th>
              
             <th>ELIGIBLE RSKS</th>
             <th> SCHEDULED RSKS</th>
                      
   
             <th>NO OF MEETING COMPLETED RSKS        </th>
              
             <th>CORRECT DOCUMENTS UPLOADED RSKS        </th>
              <th>SUBMITTED RSKS        </th>
             <th>ROLLBACKED RSKS        </th>
             <th> PENDING RSKS DLCO        </th>
             <th>PENDING RSKS DCO        </th>
             <th>PENDING RSKS GM/ AR      </th>
             <th>PENDING RSKS COMMISSIONER        </th>
             <th>REGISTERED RSKS  </th>
             
              
           </tr>
              
           </thead>
           <tbody *ngIf="MdssRegGetDataSeocnd?.length > 0">
             <tr *ngFor="let obj of MdssRegGetDataSeocnd; let j = index">
               <td>{{ j+1 }}</td>
               <td><a
                style="cursor: pointer; text-decoration: underline"
                class="text-primary"
                (click)="clickrouteDetails(obj)"
                ><b>{{ obj.ROUTE_NO }}</b></a
              > </td>
                                     
               <td>{{ obj.RIC_NAME }}</td>
               <td>{{ obj.RIC_MOBILE }}</td>
               <td>{{ obj.ELIGIBLE_RBKS }}</td>
               <td>{{ obj.SCHEDULED_RBKS }}</td>
               <td>{{ obj.MEETING_RBKS }}</td>         
               <td>{{ obj.DOC_UPLOADED_RBKS }}</td>
               <td>{{ obj.SUBMITTED_RBKS }}</td>
               <td>{{ obj.REJECTED_RBKS }}</td>
               <td>{{ obj.PENDING_RBKS_DLCO }}</td>           
               <td>{{ obj.PENDING_RBKS_DCO }}</td>
               <td>{{ obj.PENDING_RBKS_GM }}</td>
               <td>{{ obj.PENDING_RBKS_COMM }}</td>
               <td>{{ obj.REGISTERED_RBKS }}</td>
              
                   
             </tr>
           </tbody>
           <tbody *ngIf="MdssRegGetData?.length > 0">
               <tr>
                 <td>--</td>
                 <td>--</td>
                 <td>--</td>
                 <td>
                   <b>TOTAL</b>
                 </td>
                              <td><b>{{ MdssRegTotalsecond.ELIGIBLE_RBKS | indianNumber}}</b></td>
            <td><b>{{ MdssRegTotalsecond.SCHEDULED_RBKS | indianNumber}}</b></td>
            <td><b>{{ MdssRegTotalsecond.MEETING_RBKS | indianNumber}}</b></td>         
            <td><b>{{ MdssRegTotalsecond.DOC_UPLOADED_RBKS| indianNumber }}</b></td>
            <td><b>{{ MdssRegTotalsecond.SUBMITTED_RBKS | indianNumber}}</b></td>
            <td><b>{{ MdssRegTotalsecond.REJECTED_RBKS | indianNumber}}</b></td>
            <td><b>{{ MdssRegTotalsecond.PENDING_RBKS_DLCO | indianNumber }}</b></td>           
            <td><b>{{ MdssRegTotalsecond.PENDING_RBKS_DCO | indianNumber}}</b></td>
            <td><b>{{ MdssRegTotalsecond.PENDING_RBKS_GM | indianNumber}}</b></td>
            <td><b>{{ MdssRegTotalsecond.PENDING_RBKS_COMM | indianNumber}}</b></td>
            <td><b>{{ MdssRegTotalsecond.REGISTERED_RBKS | indianNumber}}</b></td>
                             
                
               </tr>
             </tbody>
         </table>
           
         </div>


         <div class="col-md-12" style="overflow-x:auto;" *ngIf="Rbkdiv"> 
          <div class="col-md-12 row">
          <div class="col-md-3">
            <label>
              DISTRICT :
              <span class="text-success">
                <b> {{ distrctname }}</b>
              </span>
            </label>
          </div>
          <div class="col-md-3">
            <label>
              ROOT No :
              <span class="text-success">
                <b> {{ rootname }}</b>
              </span>
            </label>
          </div>
          
          
          <div class="col-md-6">
            <button
                    type="button"
                    class="btn btn-sm btn-info pull-right"
                    (click)="btnbacksoc()"
                  >Back</button>
            <button
              type="button"
              class="btn btn-success btn-sm pull-right"
              (click)="btnExcelrbk()"
            >
              <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
              Download Excel
            </button>
          </div>
        </div>
          <table
             class="table table-striped ah-table text-center" 
             datatable  [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger"
             
           >
             <thead class="bg-success text-white">
              
               <tr>
                 <th >S.No.</th>
               
                <th>RSK NAME</th>
                <th>RSK CODE</th>
                               <th> SCHEDULED STATUS</th>
                               <th> SCHEDULED CREATED DATE</th>                       
     
               <th>  MEETING DATE       </th>
               <th>  MEETING STATUS       </th>
               <th>  RIC STATUS       </th>
               <th>  CURRENT STATUS       </th>
               
             </tr>
                
             </thead>
             <tbody *ngIf="MdssRegGetDatarbk?.length > 0">
               <tr *ngFor="let obj of MdssRegGetDatarbk; let j = index">
                 <td>{{ j+1 }}</td>
                 <td style="float: left;">{{ obj.RBK_NAME }}</td>                       
                 <td>{{ obj.RBK_CODE }}</td>
                                   <td>{{ obj.SCHEDULE_STATUS }}</td>
                 <td>{{ obj.SCHEDULE_CREATED_DATE }}</td>
                 <td>{{ obj.MEETING_DATE }}</td>         
                 <td>{{ obj.MEETING_STATUS }}</td>
                 <td>{{ obj.RIC_FINAL_STATUS }}</td>
                 <td>{{ obj.FINAL_STATUS }}</td>
                  
                     
               </tr>
             </tbody>
             <!-- <tbody *ngIf="MdssRegGetDatarbk?.length > 0">
                 <tr>
                   <td>--</td>
                   <td>--</td>
                   <td>--</td>
                   <td>
                     <b>TOTAL</b>
                   </td>
                                <td><b>{{ MdssRegTotalsecond.ELIGIBLE_RBKS | indianNumber}}</b></td>
              <td><b>{{ MdssRegTotalsecond.SCHEDULED_RBKS | indianNumber}}</b></td>
              <td><b>{{ MdssRegTotalsecond.MEETING_RBKS | indianNumber}}</b></td>         
              <td><b>{{ MdssRegTotalsecond.DOC_UPLOADED_RBKS| indianNumber }}</b></td>
              <td><b>{{ MdssRegTotalsecond.SUBMITTED_RBKS | indianNumber}}</b></td>
              <td><b>{{ MdssRegTotalsecond.REJECTED_RBKS | indianNumber}}</b></td>
              <td><b>{{ MdssRegTotalsecond.PENDING_RBKS_DLCO | indianNumber }}</b></td>           
              <td><b>{{ MdssRegTotalsecond.PENDING_RBKS_DCO | indianNumber}}</b></td>
              <td><b>{{ MdssRegTotalsecond.PENDING_RBKS_GM | indianNumber}}</b></td>
              <td><b>{{ MdssRegTotalsecond.PENDING_RBKS_COMM | indianNumber}}</b></td>
              <td><b>{{ MdssRegTotalsecond.REGISTERED_RBKS | indianNumber}}</b></td>
                               
                  
                 </tr>
               </tbody> -->
           </table>
             
           </div>


           <div class="col-md-12" style="overflow-x:auto;" *ngIf="Detailsdiv"> 
            <div class="col-md-12 row">
            <div class="col-md-3">
              <label>
                DISTRICT :
                <span class="text-success">
                  <b> {{ distrctname }}</b>
                </span>
              </label>
            </div>
            <div class="col-md-3">
              <label>
                ROOT No :
                <span class="text-success">
                  <b> {{ rootname }}</b>
                </span>
              </label>
            </div>
            
            
            <div class="col-md-6">
              <button
                      type="button"
                      class="btn btn-sm btn-info pull-right"
                      (click)="btnback()"
                    >Back</button>
              <button
                type="button"
                class="btn btn-success btn-sm pull-right"
                (click)="btnExcelsecond()"
              >
                <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
                Download Excel
              </button>
            </div>
          </div>
            <table
               class="table table-striped ah-table text-center" 
               datatable  [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger"
               
             >
               <thead class="bg-success text-white">
                
                 <tr>
                   <th >S.No.</th>
                   <th >ROUTE NUMBER</th>
                  <th>RIC NAME</th>
                  <th>RIC MOBILE NUMBER</th>
                  
                 <th>ELIGIBLE RSKS</th>
                 <th> SCHEDULED RSKS</th>
                          
       
                 <th>NO OF MEETING COMPLETED RSKS        </th>
                  
                 <th>CORRECT DOCUMENTS UPLOADED RSKS        </th>
                  <th>SUBMITTED RSKS        </th>
                 <th>ROLLBACKED RSKS        </th>
                 <th> PENDING RSKS DLCO        </th>
                 <th>PENDING RSKS DCO        </th>
                 <th>PENDING RSKS GM/ AR      </th>
                 <th>PENDING RSKS COMMISSIONER        </th>
                 <th>REGISTERED RSKS  </th>
                 
                  
               </tr>
                  
               </thead>
               <tbody *ngIf="MdssRegGetDataSeocnd?.length > 0">
                 <tr *ngFor="let obj of MdssRegGetDataSeocnd; let j = index">
                   <td>{{ j+1 }}</td>
                   <td style="float: left;">{{ obj.ROUTE_NO }}</td>                       
                   <td>{{ obj.RIC_NAME }}</td>
                   <td>{{ obj.RIC_MOBILE }}</td>
                   <td>{{ obj.ELIGIBLE_RBKS }}</td>
                   <td>{{ obj.SCHEDULED_RBKS }}</td>
                   <td>{{ obj.MEETING_RBKS }}</td>         
                   <td>{{ obj.DOC_UPLOADED_RBKS }}</td>
                   <td>{{ obj.SUBMITTED_RBKS }}</td>
                   <td>{{ obj.REJECTED_RBKS }}</td>
                   <td>{{ obj.PENDING_RBKS_DLCO }}</td>           
                   <td>{{ obj.PENDING_RBKS_DCO }}</td>
                   <td>{{ obj.PENDING_RBKS_GM }}</td>
                   <td>{{ obj.PENDING_RBKS_COMM }}</td>
                   <td>{{ obj.REGISTERED_RBKS }}</td>
                  
                       
                 </tr>
               </tbody>
               <tbody *ngIf="MdssRegGetData?.length > 0">
                   <tr>
                     <td>--</td>
                     <td>--</td>
                     <td>--</td>
                     <td>
                       <b>TOTAL</b>
                     </td>
                                  <td><b>{{ MdssRegTotalsecond.ELIGIBLE_RBKS | indianNumber}}</b></td>
                <td><b>{{ MdssRegTotalsecond.SCHEDULED_RBKS | indianNumber}}</b></td>
                <td><b>{{ MdssRegTotalsecond.MEETING_RBKS | indianNumber}}</b></td>         
                <td><b>{{ MdssRegTotalsecond.DOC_UPLOADED_RBKS| indianNumber }}</b></td>
                <td><b>{{ MdssRegTotalsecond.SUBMITTED_RBKS | indianNumber}}</b></td>
                <td><b>{{ MdssRegTotalsecond.REJECTED_RBKS | indianNumber}}</b></td>
                <td><b>{{ MdssRegTotalsecond.PENDING_RBKS_DLCO | indianNumber }}</b></td>           
                <td><b>{{ MdssRegTotalsecond.PENDING_RBKS_DCO | indianNumber}}</b></td>
                <td><b>{{ MdssRegTotalsecond.PENDING_RBKS_GM | indianNumber}}</b></td>
                <td><b>{{ MdssRegTotalsecond.PENDING_RBKS_COMM | indianNumber}}</b></td>
                <td><b>{{ MdssRegTotalsecond.REGISTERED_RBKS | indianNumber}}</b></td>
                                 
                    
                   </tr>
                 </tbody>
             </table>
               
             </div>
      </div>
    </div>


     
 </div>