<div class="card">
  <div class="card-header p-2">
    <h5>Resending of Login Credentials</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label for="typeid">User Type <span style="color: red;">*</span></label>
          <select id="typeid" class="form-control" [(ngModel)]="typeid" (change)="ontypechange()">
            <option selected value="undefined" disabled>-- Select User Type --</option>
            <option value="{{obj.TYPE_CODE}}" *ngFor="let obj of TYPELIST">{{obj.TYPE_LABEL}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-3" *ngIf="typeid==1">
        <div class="form-group">
          <label for="userId">
            User ID
            <span style="color: red">*</span>
          </label>
          <input id="userId" type="text" class="form-control" [(ngModel)]="userId" placeholder="Enter User ID"
            maxlength="15" NumbersOnly [allowDecimals]="false" [allowSign]="false" autocomplete="off" />
        </div>
      </div>

      <div class="col-md-3" *ngIf="typeid==2">
        <div class="form-group">
          <label for="Designation"> Designation <span style="color: red;">*</span></label>
          <select id="Designation" class="form-control" [(ngModel)]="Designation" (change)="onDesignchange()">
            <option selected value="undefined" disabled>-- Select Designation --</option>
            <option value="{{obj.DESIG_ID}}" *ngFor="let obj of DESIGNATIONLIST">{{obj.DESIGNATION}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3" *ngIf="typeid==2">
        <div class="form-group">
          <label for="Routeid"> Route <span style="color: red;">*</span></label>
          <select id="Routeid" class="form-control" [(ngModel)]="Routeid" (change)="onRoutechange()">
            <option selected value="undefined" disabled>-- Select Route --</option>
            <option value="{{obj.ROUTE_NO}}" *ngFor="let obj of ROUTELIST">{{obj.ROUTE_NAME}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3" *ngIf="typeid==2">
        <div class="form-group">
          <label for="phaseid"> Phase <span style="color: red;">*</span></label>
          <select id="phaseid" class="form-control" [(ngModel)]="phaseid">
            <!-- (change)="onDesignchange()" -->
            <option selected value="undefined" disabled>-- Select Phase --</option>
            <option value="{{obj.PHASE_CODE}}" *ngFor="let obj of PHASELIST">{{obj.PHASE_NAME}}</option>
          </select>
        </div>
      </div>


      <div class="col-md-1">
        <button style="margin-top: 31px;" type="button" class="btn btn-primary btn-sm" (click)="btnFind()">
          Find
        </button>
      </div>

    </div>
    <!-- <div class="row">
                  <div class="col-md-12">
                      <button type="button" class="btn btn-success btn-sm pull-right" (click)="btnExcel()">
                          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
                          Download Excel

                  </div>
              </div>  -->

    <!-- <div
                class="col-md-12 table-responsive"
                [hidden]="LOGINDETAILSLIST?.length < 1"
              >

                <table
            class="table table-striped ah-table text-center"
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
          >
            <thead class="bg-success text-white"> -->
    <div class="row">
      <div class="col-md-12 table-responsive"
        [hidden]="LOGINDETAILSLIST?.length < 1 && LOGINDETAILSLIST1?.length < 1 && LOGINDETAILSLIST2?.length < 1">
        <table class="table table-striped ah-table text-center" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead class="bg-success text-white">


            <tr [hidden]="LOGINDETAILSLIST?.length < 1">
              <th class="tableheader_color">S No</th>
              <th class="tableheader_color">Route Name</th>
              <th class="tableheader_color">Employee Name</th>
              <th class="tableheader_color">Mobile Number</th>
              <th class="tableheader_color">Designation</th>
              <th class="tableheader_color">User Name</th>
              <th class="tableheader_color">No of Times Sms Sent</th>
              <th class="tableheader_color">Action</th>

            </tr>

            <tr [hidden]="LOGINDETAILSLIST?.length < 1"> 
              <th class="tableheader_color">1</th>
              <th class="tableheader_color">2</th>
              <th class="tableheader_color">3</th>
              <th class="tableheader_color">4</th>
              <th class="tableheader_color">5</th>
              <th class="tableheader_color">6</th>
              <th class="tableheader_color">7</th>
              <th class="tableheader_color">8</th>

            </tr>

            <tr [hidden]="LOGINDETAILSLIST1?.length < 1">
              <th class="tableheader_color">S No</th>
              <th class="tableheader_color">Mandal Name</th>
              <th class="tableheader_color">Employee Name</th>
              <th class="tableheader_color">Mobile Number</th>
              <th class="tableheader_color">Designation</th>
              <th class="tableheader_color">User Name</th>
              <th class="tableheader_color">No of Times Sms Sent</th>
              <th class="tableheader_color">Action</th>
            </tr>

            <tr [hidden]="LOGINDETAILSLIST1?.length < 1">
              <th class="tableheader_color">1</th>
              <th class="tableheader_color">2</th>
              <th class="tableheader_color">3</th>
              <th class="tableheader_color">4</th>
              <th class="tableheader_color">5</th>
              <th class="tableheader_color">6</th>
              <th class="tableheader_color">7</th>
              <th class="tableheader_color">8</th>
            </tr>

            <tr [hidden]="LOGINDETAILSLIST2?.length < 1">
              <th class="tableheader_color">S No</th>
              <th class="tableheader_color">RSK Name</th>
              <th class="tableheader_color">Mandal Name</th>
              <th class="tableheader_color">Employee Name</th>
              <th class="tableheader_color">Mobile Number</th>
              <th class="tableheader_color">Designation</th>
              <th class="tableheader_color">User Name</th>
              <th class="tableheader_color">No of Times Sms Sent</th>
              <th class="tableheader_color">Action</th>
            </tr>

            <tr [hidden]="LOGINDETAILSLIST2?.length < 1">
              <th class="tableheader_color">1</th>
              <th class="tableheader_color">2</th>
              <th class="tableheader_color">3</th>
              <th class="tableheader_color">4</th>
              <th class="tableheader_color">5</th>
              <th class="tableheader_color">6</th>
              <th class="tableheader_color">7</th>
              <th class="tableheader_color">8</th>
              <th class="tableheader_color">9</th>
            </tr>

          </thead>
          <tbody
            *ngIf="LOGINDETAILSLIST?.length > 0  || LOGINDETAILSLIST1?.length > 0 || LOGINDETAILSLIST2?.length > 0">
            <tr *ngFor="let obj of LOGINDETAILSLIST; let i = index">

              <td class="number_align">{{ i+1 }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.ROUTE_NAME }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.EMPLOYEE_NAME }}</td>
              <td class="number_align">{{ obj.MOBILE_NUMBER }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.DESIGNATION }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.USER_NAME }}</td>
              <td class="number_align">{{ obj.SMS_COUNT }}</td>
              <td>
                <input style="width: 20px;" type="checkbox" id="checkbox_{{obj.MOBILE_NUMBER}}"
                  (change)="onSelectionChange($event, obj)">
              </td>
            </tr>

            <tr *ngFor="let obj of LOGINDETAILSLIST1; let i = index;">

              <td class="number_align">{{ i + 1 }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.MANDAL_NAME }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.EMPLOYEE_NAME }}</td>
              <td class="number_align">{{ obj.MOBILE_NUMBER }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.DESIGNATION }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.USER_NAME }}</td>
              <td class="number_align">{{ obj.SMS_COUNT }}</td>
              <td>
                <input style="width: 20px;" type="checkbox" id="checkbox_{{obj.MOBILE_NUMBER}}"
                  (change)="onSelectionChange($event, obj)">
              </td>
            </tr>
            <tr *ngFor="let obj of LOGINDETAILSLIST2; let i = index">
              <td class="number_align">{{ i + 1 }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.RBK_NAME }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.MANDAL_NAME }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.EMPLOYEE_NAME }}</td>
              <td class="number_align">{{ obj.MOBILE_NUMBER }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.DESIGNATION }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.USER_NAME }}</td>
              <td class="number_align">{{ obj.SMS_COUNT }}</td>
              <td>
                <input style="width: 20px;" type="checkbox" id="checkbox_{{obj.MOBILE_NUMBER}}"
                  (change)="onSelectionChange($event, obj)">
              </td>
            </tr>
          </tbody>
        </table>




                  
      </div>

    </div>

    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <button *ngIf="LOGINDETAILSLIST?.length > 0 || LOGINDETAILSLIST1?.length > 0 || LOGINDETAILSLIST2?.length > 0"
          (click)="BTNSUBMIT()" class="btn btn-primary btn-sm">SUBMIT</button>
      </div>
      <div class="col-md-5"></div>
    </div>


    <table *ngIf="tablehide" class="table table-striped ah-table text-center">
      <thead class="bg-success text-white">
        <tr>
          <th>S No</th>
          <th>User Name</th>
          <th>SMS PUSH STATUS</th>
          <th>RECORD DB STATUS</th>
        </tr>
      </thead>
      <tbody *ngIf="SUBMITLIST?.length > 0">
        <tr *ngFor="let obj of SUBMITLIST; let i = index">
          <td>{{ i+1 }}</td>
          <td class="number_align">{{ obj.USER_NAME }}</td>
          <td class="number_align">
            <span *ngIf="(obj.SMS_PUSH_STATUS === '1')"> SMS Sent</span>
            <span *ngIf="(obj.SMS_PUSH_STATUS === '0')"> SMS Failed</span>
          </td>
          <td class="number_align">
            <span *ngIf="(obj.RECORD_DB_STATUS === '1')"> Record Inserted</span>
            <span *ngIf="(obj.RECORD_DB_STATUS === '0')"> Record Inserted Failed</span>
          </td>
        </tr>
      </tbody>
    </table>


  </div>

</div>