

<div class="row">

  

  <div class="col-md-3 offset-3">
    <div class="form-group">
      <label> Farmer Code </label>
      <input
        id="farmerId"
        type="text"
        class="form-control"
        [(ngModel)]="farmerId"
        placeholder="Please Enter Farmer ID"
        maxlength="8"
        autocomplete="off"
        NumbersOnly
        [allowDecimals]="false"
        [allowSign]="false"
      />
    </div>
  </div>

  <div class="col-md-2 pt-4" align="left">
    <button
      type="button"
      class="btn btn-success btn-sm"
      (click)="btnfarmerDetails()">   
      Get Details
    </button>
  </div>
</div>

<div class="row">
  <div class="col mb-2">
    <div
      class="stats-card primary"
      (click)="btnSocietyChangeDashboardDetails('0')"
    >
      <div class="overlay"></div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="stats-text">
            <p class="text-uppercase text-muted mb-1">
              <small>Existing Loans</small>
            </p>
            <h5 class="font-weight-bold mb-0">
              {{ dashboardCounts.EXISTING_LOAN_COUNT }}
            </h5>
          </div>
          <div class="circle">
            <i class="fas fa-hourglass-half"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-2" style="margin-left: -7px;">
    <div
      class="stats-card success"
      (click)="btnSocietyChangeDashboardDetails('1')" style="margin-left: -20px;" >
      <div class="overlay"></div>

      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="stats-text">
            <p class="text-uppercase text-muted mb-1">
              <small>New Loans</small>
            </p>
            <h5 class="font-weight-bold mb-0">
              {{ dashboardCounts.NEW_LOAN_COUNT }}
            </h5>
          </div>
          <div class="circle">
            <i class="fas fa-check-double"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-2"></div>
   
 
</div>
 

<div class="row" id="ExistingLoans" *ngIf="ExistingLoans" >


  <div class="card">
    <div class="card-header p-2">
      <h5 class="mb-0">Existing Loan Details</h5>
    </div>

  
      <div class="card-body">
      <div class="row">
 
        <div class="col-md-3">
          <div class="form-group">
            <label for="INSTITUTION_ID">Bank <span style="color: red">*</span></label>
            <select
            id="INSTITUTION_ID"
            class="form-control"
            [(ngModel)]="bankData.INSTITUTION_ID"
            (change)="onbankChange()"
          >
            <option value="">-- Select Bank --</option>
            <option value="{{ obj.INSTITUTION_ID }}" *ngFor="let obj of BANKList">
              {{ obj.INSTITUTION_NAME }}
            </option>
          </select>
          </div>
        </div>


        <div class="col-md-3">
          <div class="form-group">
            <label for="TYPE_OF_LOAN_ID">Type Of Loan <span style="color: red">*</span></label>
            <select
            id="TYPE_OF_LOAN_ID"
            class="form-control"
            [(ngModel)]="bankData.TYPE_OF_LOAN_ID"
            
          >
            <option value="">-- Select Loan --</option>
            <option value="{{ obj.TYPE_OF_LOAN_ID }}" *ngFor="let obj of LOANList">
              {{ obj.TYPE_OF_LOAN }}
            </option>
          </select>
          </div>
        </div>


        <div class="col-md-3">
          <div class="form-group">
            <label for="PURPOSE_OF_LOAN_NO">Purpose of Loan <span style="color: red">*</span></label>
            <select
            id="PURPOSE_OF_LOAN_NO"
            class="form-control"
            [(ngModel)]="bankData.PURPOSE_OF_LOAN_NO"
            (change)="onPurposeChange()"
          >
            <option value="">-- Select Purpose --</option>
            <option value="{{ obj.PURPOSE_OF_LOAN_NO }}" *ngFor="let obj of PURPOSEList">
              {{ obj.PURPOSE_OF_LOAN }}
            </option>
          </select>
          </div>
        </div>

        <div class="col-md-3"  id="feeds" *ngIf="feeds" >
          <div class="form-group">

            <label for="PURPOSE_OF_LOAN_TYPES_NO">Select Purpose Types <span style="color: red">*</span></label>
           <DIV id="purposeloan"  *ngIf="purposeloan" >
            <select
            id="PURPOSE_OF_LOAN_TYPES_NO"
            class="form-control"
            [(ngModel)]="bankData.PURPOSE_OF_LOAN_TYPES_NO"
            
          >
            <option value="">-- Select Purpose Types--</option>
            <option value="{{ obj.PURPOSE_OF_LOAN_TYPES_NO }}" *ngFor="let obj of FEEDList">
              {{ obj.PURPOSE_OF_LOAN_TYPES }}
            </option>
          </select>
        </DIV>
        <div  id="purposeloantxt"  *ngIf="purposeloantxt" >
          <input type="text"
          class="form-control"
          [(ngModel)]="bankData.PURPOSE_OF_LOAN_TYPESothers"
          placeholder="Please Enter PURPOSE"
          maxlength="100"
          autocomplete="off"  
          [allowSign]="false"
          >
        </div>
          </div>
          </div>

      </div>
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label>Bank Account No <span style="color: red">*</span></label>
      <input type="text"
      class="form-control"
      [(ngModel)]="bankData.ACCOUNT_NO"
      placeholder="Please Enter Bank Account No"
      maxlength="15"
      autocomplete="off"            
      NumbersOnly
      [allowDecimals]="false"
      [allowSign]="false"
      >
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Ifsc Code <span style="color: red">*</span></label>
      <div class="input-group">
          <input type="text" class="form-control"
           [(ngModel)]="bankData.IFSC_CODE"
           placeholder="Please Enter IFSC Code"
           maxlength="15"
           autocomplete="off"
          >
          <div class="input-group-append">
            <button class="btn btn-primary btn-sm m-0 btn-rounded" 
            type="submit"
            (click)="btnVerifyIfscCode()"
              id="button-addon2">Verify</button>
          </div>
      </div>
    </div>
  </div>

  <div class="col-md-3" *ngIf="bankData.BANK_NAME !== ''">
    <div class="form-group">
      <label>Bank Name</label>
      <h5 class="text-success">{{bankData.BANK_NAME}}</h5>
    </div>
  </div>
  <div class="col-md-3" *ngIf="bankData.BRANCH_NAME !== ''">
    <div class="form-group">
      <label>Branch Name</label>
      <h5 class="text-success">{{bankData.BRANCH_NAME}}</h5>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <label>Bank Account Name <span style="color: red">*</span></label>
      <input type="text"
      class="form-control"
      [(ngModel)]="bankData.bankAccountName"
      placeholder="Please Enter Bank Account Name"
      maxlength="40"
      autocomplete="off"
      >
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <label> Pincode <span style="color: red">*</span></label>
      <input type="text"
      class="form-control"
      [(ngModel)]="bankData.pinCode"
      placeholder="Please Enter Pincode"
      maxlength="6"
      autocomplete="off"            
      NumbersOnly
      [allowDecimals]="false"
      [allowSign]="false"
      >
    </div>
  </div>
 
 
        <div class="col-md-3"> 
          <label for="INSTITUTIONID">Loan Applied Date <span style="color: red">*</span></label>
          
        <app-date-picker
            [PlaceHolder]="'Please Select Loan Applied Date'"
            [(selectedDate)]="bankData.LOANAPDATE"
            [maxDate]="maxDate"
          ></app-date-picker>
        </div>  

        <div class="col-md-3"> 
          <label for="INSTITUTIONID">Loan Sanctioned Date <span style="color: red">*</span></label>
          

        <app-date-picker
        [PlaceHolder]="'Please Select Loan Sanctioned Date'"
        [(selectedDate)]="bankData.LOAN_SANCTIONED_DATE"
        [maxDate]="maxDate"
      ></app-date-picker>


        </div>

      <!-- </div>
      <div class="row">  -->
        <div class="col-md-3"> 
          <label for="PURPOSE_OF_LOAN_TYPES_NO">  Sanctioned Loan Amount:  <span style="color: red">*</span></label> 
             <!-- maxlength="6"   -->
          <input type="text"  class="form-control"   [(ngModel)]="bankData.LoanAmount"    placeholder="Please Enter Loan Amount"
                 autocomplete="off"    NumbersOnly   [allowDecimals]="false"    [allowSign]="false" >     
        </div>	
        <div class="col-md-3"> 
          <label for="PURPOSE_OF_LOAN_TYPES_NO">  Monthly Instalment Amount:  <span style="color: red">*</span></label> 
          <input type="text"  class="form-control"   [(ngModel)]="bankData.InstalmentAmount"    placeholder="Please Enter Instalment Amount"
          autocomplete="off"    NumbersOnly   [allowDecimals]="false"    [allowSign]="false" >         
      </div>	
      <div class="col-md-3">  
        <label for="PURPOSE_OF_LOAN_TYPES_NO">  No of Installments:  <span style="color: red">*</span></label> 
        <input type="text"  class="form-control"   [(ngModel)]="bankData.noofInstalment"    placeholder="Please Enter noofInstalment"
        autocomplete="off"    NumbersOnly   [allowDecimals]="false"    [allowSign]="false" >  
      </div>	
      <div class="col-md-3">
        <label for="PURPOSE_OF_LOAN_TYPES_NO">  No of installments Paid:  <span style="color: red">*</span></label>   
        <input type="text"  class="form-control"   [(ngModel)]="bankData.paidInstalments"    placeholder="Please Enter Paid Instalments"
        autocomplete="off"    NumbersOnly   [allowDecimals]="false"    [allowSign]="false" >  
      </div>	
      <div class="col-md-3">
        <label for="PURPOSE_OF_LOAN_TYPES_NO"> Show the Pending Installments  :  <span style="color: red">*</span></label>   
        <input type="text"  class="form-control"   [(ngModel)]="bankData.pendingInstalments"    placeholder="Please Enter Pending Instalments"
        autocomplete="off"    NumbersOnly   [allowDecimals]="false"    [allowSign]="false" >  
</div>	

<div class="col-md-3" >
 
<button
type="button" style="margin-bottom: -60px;"
class="btn btn-success btn-sm"
(click)="btnloanDetails()">    
Existing Loan Details submit
</button>
</div>
        <!-- <div class="col-md-3"> 
          <label for="INSTITUTIONID">Bank account number <span style="color: red">*</span></label>
        </div>

        <div class="col-md-3"> 
          <label for="INSTITUTIONID">Loan Sanctioned Bank IFSCCODE <span style="color: red">*</span></label>
        </div> -->



      </div>
    </div>  
  </div>

</div> 
 


<div class="row" id="NewLoans" *ngIf="NewLoans">

  <button
  type="button"
  class="btn btn-success btn-sm" 
>
NewLoans
</button>
</div>




<div class="row" id="ExistingLoansreports" *ngIf="ExistingLoansreports" >
 


    
  
<div class="row" id="ExistingLoansreportsgriddata">
  <div class="col-md-12 table-responsive" [hidden]="ExistingLoansreportsList?.length < 1">
   <table class="table table-striped ah-table text-center" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
      data-page-length='-1'>
      <thead class="bg-success text-white">
        <tr>
          <th>S.No.</th>
          <th>DISTRICT</th>
          <th>MANDAL NAME</th>
          <th>DIVISION NAME</th>
          <th>RSK NAME</th>
          <th>RSK CODE</th>  
          <th>VIEW PDF</th>
        </tr>
      </thead>
      <tbody *ngIf="ExistingLoansreportsList?.length > 0">
        <!-- <tr *ngFor="let obj of ExistingLoansreportsList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ obj.DISTRICT }}</td>
          <td>{{ obj.MANDAL_NAME }}</td>
          <td>{{ obj.DIVISION_NAME }}</td>
          <td>{{ obj.RBK_NAME }}</td>
          <td>{{ obj.RBK_CODE }}</td>  
          <td> <button class="btn btn-sm btn-info block"
              (click)="btnAllapprovedPdf(obj.RBK_CODE+','+obj.DIST_CODE+','+obj.MANDAL_CODE)">
              <i>VIEW</i></button></td>
        </tr> -->
      </tbody>
    </table>

  </div>
</div>    

</div>
  

