<div class="row">
  <div class="col mb-2">
    <div
      class="stats-card primary"
      (click)="btnFeedIndentDashboardDetails('0')"
    >
      <div class="overlay"></div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="stats-text">
            <p class="text-uppercase text-muted mb-1">
              <small>PENDING</small>
            </p>
            <h5 class="font-weight-bold mb-0">
              {{ dashboardCounts.PENDING }}
            </h5>
          </div>
          <div class="circle">
            <i class="fas fa-hourglass-half"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-2">
    <div
      class="stats-card success"
      (click)="btnFeedIndentDashboardDetails('1')"
    >
      <div class="overlay"></div>

      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="stats-text">
            <p class="text-uppercase text-muted mb-1">
              <small>APPROVED</small>
            </p>
            <h5 class="font-weight-bold mb-0">
              {{ dashboardCounts.APPROVED }}
            </h5>
          </div>
          <div class="circle">
            <i class="fas fa-check-double"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-2">
    <div class="stats-card reject" (click)="btnFeedIndentDashboardDetails('2')">
      <div class="overlay"></div>

      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="stats-text">
            <p class="text-uppercase text-muted mb-1">
              <small>REJECTED</small>
            </p>
            <h5 class="font-weight-bold mb-0">
              {{ dashboardCounts.REJECTED }}
            </h5>
          </div>
          <div class="circle">
            <i class="fas fa-times-circle"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-2">
    <div
      class="stats-card primary"
      (click)="btnFeedIndentDashboardDetails('3')"
    >
      <div class="overlay"></div>

      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="stats-text">
            <p class="text-uppercase text-muted mb-1">
              <small>PENDING AT HIGHER LEVEL</small>
            </p>
            <h5 class="font-weight-bold mb-0">
              {{ dashboardCounts.PENDING_AT_HIGHER_LEVEL }}
            </h5>
          </div>
          <div class="circle">
            <i class="fas fa-hourglass-half"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" [hidden]="feedIndentList?.length < 1">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0 secondary-heading pb-0">{{ headingText }}</h5>
      </div>
      <div class="card-body">
        <div class="col-md-12 table-responsive">
          <table
            class="table table-striped ah-table text-center"
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
          >
            <thead class="bg-success text-white">
              <tr>
                <th>S.No.</th>
                <th>RSK</th>
                <th>VILLAGE</th>
                <th>FARMER</th>
                <th>FARMER CODE</th>
                <th>MOBILE NUMBER</th>
                <th>FEED INDENT</th>
                <th [hidden]="requestType !== '0'">ACTION TAKEN</th>
                <th [hidden]="requestType !== '0'">REMARKS</th>
                <th [hidden]="requestType !== '0'">SUBMIT</th>
                <th [hidden]="requestType === '0'">STATUS</th>
                <th [hidden]="requestType === '0'">REMARKS</th>
              </tr>
            </thead>
            <tbody [hidden]="feedIndentList?.length < 1">
              <tr *ngFor="let obj of feedIndentList; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ obj.RBK_NAME }}</td>
                <td>{{ obj.VILLAGE_NAME }}</td>
                <td>{{ obj.FARMER_NAME }}</td>
                <td>{{ obj.FARMER_CODE }}</td>
                <td>{{ obj.MOBILE_NUMBER }}</td>
                <td>{{ obj.INDENTS_RAISED }}</td>
                <td [hidden]="requestType !== '0'">
                  <select
                    id="actionTaken"
                    class="form-control"
                    [(ngModel)]="obj.STATUS"
                  >
                    <option value="0">-- SELECT ACTION TAKEN --</option>
                    <option value="1">APPROVE</option>
                    <option value="2">REJECT</option>
                  </select>
                </td>
                <td [hidden]="requestType !== '0'">
                  <input
                    id="remarks"
                    type="text"
                    class="form-control"
                    [(ngModel)]="obj.remarks"
                    placeholder="Please Enter Remarks"
                    maxlength="50"
                    autocomplete="off"
                  />
                </td>
                <td [hidden]="requestType !== '0'">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    (click)="btnVerify(obj)"
                  >
                    VERIFY
                  </button>
                </td>
                <td [hidden]="requestType === '0'">{{ obj.STATUS_MSG }}</td>
                <td [hidden]="requestType === '0'">{{ obj.MENTOR_REMARKS }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
