
<div class="card">
    <div class="card-header p-2">
      <h5 class="mb-0">INVALID BANK ACCOUNT RAISE REQUEST</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-5 offset-3">
          <div class="form-group">
            <div class="ah-radio-buttons" (change)="onSelectionChange()">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input"
                  type="radio"
                  name="inputRadio"
                  id="inputRadio1"
                  value="1"
                  [(ngModel)]="inputRadio"
                />
                <label class="custom-control-label" for="inputRadio1">
                  AADHAAR NUMBER
                </label>
              </div>
  
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input"
                  type="radio"
                  name="inputRadio"
                  id="inputRadio2"
                  value="2"
                  [(ngModel)]="inputRadio"
                />
                <label class="custom-control-label" for="inputRadio2">
                  FARMER CODE
                </label>
              </div>
            </div>
            <input
              id="uidNum"
              type="password"
              class="form-control"
              [(ngModel)]="farmerDetails.uidNum"
              placeholder="{{ inputPlaceHolder }}"
              maxlength="12"
              autocomplete="off"
              NumbersOnly
              [allowDecimals]="false"
              [allowSign]="false" (keyup)="uidNummaskIputData($event.target.value)"
            />
  
            <input
            id="frmNum"
            type="text"
            class="form-control"
            [(ngModel)]="farmerDetails.frmNum"
            placeholder="{{ inputPlaceHolder }}"
            maxlength="8"
            autocomplete="off"
            NumbersOnly
            [allowDecimals]="false"
            [allowSign]="false"
          />
  
          </div>
        </div>
  
        <div class="col-md-2 pt-4" align="left">
          <button
            type="button"
            class="btn btn-success btn-sm"
            (click)="btnUidDetails()"
          >
            CHECK STATUS
          </button>
        </div>

        <div class="col-md-2 pt-4" align="left">
          <button
            type="button"
            class="btn btn-danger btn-sm"
             style="font-size: 14px;"
             (click)="btnpendingDetails()"
          >
            Pending Requests
          </button>
        </div>



      </div>
  
      <div
        *ngIf="
          personDetails.UID_NUM !== null &&
          personDetails.UID_NUM !== '' &&
          personDetails.UID_NUM !== undefined
        "
      >
        <h5 class="sub-heading pb-0">
          <label>Farmer Registration Details</label>
        </h5>
  


        
        <div class="row px-4">
          <div class="col-md-3">
            <div class="form-group">
              <label>
                NAME :
                <span class="text-success">
                  <b>{{ personDetails.FARMER_NAME }}</b>
                </span>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>
                CODE :
                <span class="text-success">
                  <b>{{ personDetails.FARMER_CODE }}</b>
                </span>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label
                >DISTRICT :
                <span class="text-success">
                  <b>{{ personDetails.DISTRICT_NAME }}</b>
                </span>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label
                >MANDAL :
                <span class="text-success">
                  <b>{{ personDetails.MANDAL_NAME }}</b>
                </span>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label
                >RSK :
                <span class="text-success">
                  <b>{{ personDetails.RBK_NAME }}</b>
                </span>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label
                >VILLAGE :
                <span class="text-success">
                  <b>{{ personDetails.VILLAGE_NAME }}</b>
                </span>
              </label>
            </div>
          </div>
        </div>
  
        <h5 class="sub-heading pb-0"   ><label>Bank Details</label></h5>
  
        <div class="row px-4"  >
          <div class="col-md-3">
            <div class="form-group">
              <label>
                BANK ACCOUNT NUMBER :
                <span class="text-success">
                  <b>{{ personDetails.ACCOUNT_NUMBER }}</b>
                </span>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label
                >IFSC CODE :
                <span class="text-success">
                  <b>{{ personDetails.IFSC_CODE }}</b>
                </span>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label
                >BANK NAME :
                <span class="text-success">
                  <b>{{ personDetails.BANK_NAME }}</b>
                </span>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label
                >BRANCH NAME :
                <span class="text-success">
                  <b>{{ personDetails.BANK_BRANCH }}</b>
                </span>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label
                >BANK PIN CODE :
                <span class="text-success">
                  <b>{{ personDetails.BANK_PINCODE }}</b>
                </span>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label
                >MICR CODE :
                <span class="text-success">
                  <b>{{ personDetails.MICR_CODE }}</b>
                </span>
              </label>
            </div>
          </div>
          <div class="col-md-3" *ngIf="personDetails.PASSBOOK_IMG !== null">
            <label>BANK PASSBOOK IMAGE :</label>
            <img
              [src]="'data:image/jpeg;base64,' + passBookImg"
              style="cursor: pointer"
              class="img-thumbnail mr-3"
              (click)="btnImage(passBookImg)"
            />
          </div>
          <div class="col-md-3" *ngIf="personDetails.PASSBOOK_IMG === null">
            <div class="form-group">
              <label
                >BANK PASSBOOK IMAGE :
                <span class="text-success">
                  <b>NA</b>
                </span>
              </label>
            </div>
          </div>
  
         
        </div> 
        <div class="col-md-3" >    
       
            <span style="align-items:center;" >
            <button
              class="btn btn-primary btn-sm m-0 btn-rounded"
              type="submit"
              (click)="btnReqraisetoHO()"
              id="button-addon2"
            >
            RAISE REQUEST TO DISTRICT HO
            </button> </span>
        
        </div>
  </div> 
  