<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">BMCU LAND ALLOTMENT UPDATE</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="mandalId">MANDAL <span style="color: red">*</span></label>
          <select
            id="mandalId"
            class="form-control"
            [(ngModel)]="mandalId"
            (change)="onMandalChange()"
          >
            <option value="">-- SELECT MANDAL --</option>
            <option
              value="{{ obj.MANDAL_CODE }}"
              *ngFor="let obj of mandalList"
            >
              {{ obj.MANDAL_NAME }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="rbkId">RSK <span style="color: red">*</span></label>
          <select
            id="rbkId"
            class="form-control"
            [(ngModel)]="rbkId"
            (change)="onRbkChange()"
          >
            <option value="">-- SELECT RSK --</option>
            <option value="{{ obj.RBK_CODE }}" *ngFor="let obj of rbkList">
              {{ obj.RBK_NAME }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="villageId"
            >REVENUE VILLAGE (RSK/AMCU/BMCU Location)
            <span style="color: red">*</span></label
          >
          <select
            id="villageId"
            class="form-control"
            [(ngModel)]="villageId"
            (change)="onVillageChange()"
          >
            <option value="">-- SELECT VILLAGE --</option>
            <option
              value="{{ obj.VILLAGECODE }}"
              *ngFor="let obj of villageList"
            >
              {{ obj.VILLAGE_NAME }}
            </option>
          </select>
        </div>
      </div>

      <div
        class="row m-0"
        [hidden]="
          landAllocateList === null ||
          landAllocateList === '' ||
          landAllocateList === undefined
        "
      >
        <div class="col-md-4">
          <div class="form-group">
            <label>Land <sup class="text-danger h6">*</sup></label>
            <div class="ah-radio-buttons">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input"
                  type="radio"
                  name="publicPrivateLand"
                  id="publicPrivateLand1"
                  value="1"
                  [(ngModel)]="LandAllocateData.publicPrivateLand"
                  autocomplete="off"
                />
                <label class="custom-control-label" for="publicPrivateLand1">
                  PUBLIC
                </label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input"
                  type="radio"
                  name="publicPrivateLand"
                  id="publicPrivateLand2"
                  value="0"
                  [(ngModel)]="LandAllocateData.publicPrivateLand"
                  autocomplete="off"
                />
                <label class="custom-control-label" for="publicPrivateLand2">
                  DONATE LAND
                </label>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-md-4"
          *ngIf="LandAllocateData.publicPrivateLand === '0'"
        >
          <div class="form-group">
            <label for="giftAndDeedPhotoUpload"
              >Gift & Deed Document Upload (PDF)
              <span style="color: red">*</span>
            </label>
            <button
              type="button"
              class="btn btn-link btn-sm"
              *ngIf="
                LandAllocateData.giftAndDeedPhotoUpload !== null &&
                LandAllocateData.giftAndDeedPhotoUpload !== '' &&
                LandAllocateData.giftAndDeedPhotoUpload !== undefined
              "
              (click)="btnViewPDF(LandAllocateData.giftAndDeedPhotoUpload)"
            >
              VIEW
            </button>
            <input
              type="file"
              class="form-control p-0"
              id="giftAndDeedPhotoUpload"
              (change)="onGiftAndDeedPhotoChange($event)"
              accept="application/pdf"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="surveyNo"
              >Survey No <span style="color: red">*</span></label
            >
            <input
              id="surveyNo"
              type="text"
              class="form-control"
              [(ngModel)]="LandAllocateData.surveyNo"
              placeholder="Please Enter Survey No"
              maxlength="15"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="col-md-4">
          <div class="row align-items-center">
            <div class="col-md-5 pr-0">
              <div class="form-group">
                <label for="acres"
                  >Area Acres
                  <span style="color: red">* </span>
                </label>
                <input
                  id="acres"
                  type="text"
                  class="form-control"
                  [(ngModel)]="LandAllocateData.acres"
                  placeholder="Please Enter Area acres"
                  maxlength="2"
                  NumbersOnly
                  [allowDecimals]="false"
                  [allowSign]="false"
                  autocomplete="off"
                />
                <small class="text-danger">
                  Ex: 0,1,2 (Only in whole numbers)
                </small>
              </div>
            </div>
            <div class="col-md-1 px-0 text-center">
              <h6 class="mb-0 mt-3">.</h6>
            </div>

            <div class="col-md-6 pl-0">
              <div class="form-group">
                <label for="cents"
                  >Area Cents
                  <small class="text-danger">(Minimum 5 Cents)</small>
                  <span style="color: red">*</span></label
                >
                <input
                  id="cents"
                  type="text"
                  class="form-control"
                  [(ngModel)]="LandAllocateData.cents"
                  placeholder="Please Enter cents"
                  maxlength="2"
                  NumbersOnly
                  [allowDecimals]="false"
                  [allowSign]="false"
                  autocomplete="off"
                />
                <small class="text-danger">
                  Ex: 0,1,2 (Only in whole numbers)
                </small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="latitude"
              >Latitude

              <span style="color: red"
                >* <small class="text-danger">Ex: (17.926152) </small>
              </span></label
            >
            <input
              id="latitude"
              type="text"
              class="form-control"
              [(ngModel)]="LandAllocateData.latitude"
              placeholder="Please Enter Latitude"
              maxlength="15"
              autocomplete="off"
              NumbersOnly
              [allowDecimals]="true"
              [allowSign]="false"
            />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="longitude"
              >Longitude
              <span style="color: red"
                >* <small class="text-danger">Ex: (83.16559) </small>
              </span></label
            >
            <input
              id="longitude"
              type="text"
              class="form-control"
              [(ngModel)]="LandAllocateData.longtitude"
              placeholder="Please Enter Longitude"
              maxlength="15"
              autocomplete="off"
              NumbersOnly
              [allowDecimals]="true"
              [allowSign]="false"
            />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="entireLandPhotoUpload"
              >Photo Covering The Entire Land <span style="color: red">*</span>
            </label>
            <img
              [src]="'data:image/jpeg;base64,' + LandAllocateData.entireLandImg"
              style="cursor: pointer"
              class="img-thumbnail mr-3"
              (click)="btnImage(LandAllocateData.entireLandImg)"
            />
            <input
              type="file"
              class="form-control p-0"
              id="entireLandPhotoUpload"
              (change)="onEntireLandPhotoChange($event)"
              accept="image/*"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="northBoundary"
                  >North Boundary <span style="color: red">*</span></label
                >
                <input
                  id="longitude"
                  type="text"
                  class="form-control"
                  [(ngModel)]="LandAllocateData.northBoundary"
                  placeholder="Please Enter North Boundary"
                  maxlength="50"
                  autocomplete="off"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="nothPhotoUpload"
                  >North Boundary Photo <span style="color: red">*</span>
                </label>
                <img
                  [src]="'data:image/jpeg;base64,' + LandAllocateData.northImg"
                  style="cursor: pointer"
                  class="img-thumbnail mr-3"
                  (click)="btnImage(LandAllocateData.northImg)"
                />
                <input
                  type="file"
                  class="form-control p-0"
                  id="nothPhotoUpload"
                  (change)="onNorthPhotoChange($event)"
                  accept="image/*"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="southBoundary"
                  >South Boundary <span style="color: red">*</span></label
                >
                <input
                  id="longitude"
                  type="text"
                  class="form-control"
                  [(ngModel)]="LandAllocateData.southBoundary"
                  placeholder="Please Enter South Boundary"
                  maxlength="50"
                  autocomplete="off"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="southPhotoUpload"
                  >South Boundary Photo <span style="color: red">*</span>
                </label>
                <img
                  [src]="'data:image/jpeg;base64,' + LandAllocateData.southImg"
                  style="cursor: pointer"
                  class="img-thumbnail mr-3"
                  (click)="btnImage(LandAllocateData.southImg)"
                />
                <input
                  type="file"
                  class="form-control p-0"
                  id="southPhotoUpload"
                  (change)="onSouthPhotoChange($event)"
                  accept="image/*"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="eastBoundary"
                  >East Boundary <span style="color: red">*</span></label
                >
                <input
                  id="longitude"
                  type="text"
                  class="form-control"
                  [(ngModel)]="LandAllocateData.eastBoundary"
                  placeholder="Please Enter East Boundary"
                  maxlength="50"
                  autocomplete="off"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="eastPhotoUpload"
                  >East Boundary Photo <span style="color: red">*</span>
                </label>
                <img
                  [src]="'data:image/jpeg;base64,' + LandAllocateData.eastImg"
                  style="cursor: pointer"
                  class="img-thumbnail mr-3"
                  (click)="btnImage(LandAllocateData.eastImg)"
                />
                <input
                  type="file"
                  class="form-control p-0"
                  id="eastPhotoUpload"
                  (change)="onEastPhotoChange($event)"
                  accept="image/*"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="westBoundary"
                  >West Boundary <span style="color: red">*</span></label
                >
                <input
                  id="longitude"
                  type="text"
                  class="form-control"
                  [(ngModel)]="LandAllocateData.westBoundary"
                  placeholder="Please Enter West Boundary"
                  maxlength="50"
                  autocomplete="off"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="westPhotoUpload"
                  >West Boundary Photo <span style="color: red">*</span>
                </label>
                <img
                  [src]="'data:image/jpeg;base64,' + LandAllocateData.westImg"
                  style="cursor: pointer"
                  class="img-thumbnail mr-3"
                  (click)="btnImage(LandAllocateData.westImg)"
                />
                <input
                  type="file"
                  class="form-control p-0"
                  id="westPhotoUpload"
                  (change)="onWestPhotoChange($event)"
                  accept="image/*"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="allotmentOrderUpload"
              >Allotment Order for Apddcf (PDF)
              <span style="color: red">*</span>
            </label>
            <div
              *ngIf="
                LandAllocateData.allotmentOrderAPDDCF !== null &&
                LandAllocateData.allotmentOrderAPDDCF !== '' &&
                LandAllocateData.allotmentOrderAPDDCF !== undefined
              "
            >
              <button
                type="button"
                class="btn btn-link btn-sm"
                (click)="btnViewPDF(LandAllocateData.allotmentOrderAPDDCF)"
              >
                VIEW
              </button>
            </div>
            <input
              type="file"
              class="form-control p-0"
              id="allotmentOrderUpload"
              (change)="onAllotmentOrderChange($event)"
              accept="application/pdf"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="distFromVillageCenter">
              Distance From Village Center

              <span style="color: red">
                <small class="text-danger"> (In Kms) </small> *
              </span></label
            >
            <input
              id="distFromVillageCenter"
              type="text"
              class="form-control"
              [(ngModel)]="LandAllocateData.distFromVillageCenter"
              placeholder="Please Enter Distance From Village Center"
              maxlength="5"
              autocomplete="off"
              NumbersOnly
              [allowDecimals]="true"
              [allowSign]="false"
            />
          </div>
        </div>

        <div class="col-md-12" align="center">
          <button
            type="button"
            class="btn btn-success btn-sm"
            (click)="btnLandAllotmentSub('1')"
          >
            LAND ALLOTTED
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="btnLandAllotmentSub('2')"
          >
            LAND ALLOTMENT PENDING
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
