<div class="row">
  <div class="col-md-12" align="right">
    <button
      type="button"
      class="btn btn-danger btn-sm"
      (click)="btnPossessionHandOverPopUp()"
    >
      DOWNLOAD STATEMENT PDF
    </button>
  </div>
</div>
<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">AMCU LAND HANDOVER DETAILS</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="rbkId">RBK <span style="color: red">*</span></label>
            <select
              id="rbkId"
              class="form-control"
              [(ngModel)]="LandAllocateData.rbkId"
            >
              <option value="">-- SELECT RBK --</option>
              <option value="{{ obj.RBK_CODE }}" *ngFor="let obj of rbkList">
                {{ obj.RBK_NAME }}
              </option>
            </select>
          </div>
        </div> -->

      <div class="col-md-4">
        <div class="form-group">
          <label for="handOverDate">
            Hand Over Date <span style="color: red">*</span>
          </label>
          <app-date-picker
          [PlaceHolder]="'Please Select Hand Over Date'"
          [(selectedDate)]="LandAllocateData.handOverDate"
          [maxDate]="maxDate"
        ></app-date-picker>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="positionTakenDate">
            Possession Taken Date <span style="color: red">*</span>
          </label>
          <app-date-picker
            [PlaceHolder]="'Please Select Possession Taken Date'"
            [(selectedDate)]="LandAllocateData.positionTakenDate"
            [maxDate]="maxDate"
          ></app-date-picker>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="landReceivedByName">
            Possession Taken By Name <span style="color: red">*</span>
          </label>
          <h5 style="color: green">
            {{ LandAllocateData.landReceivedByName }}
          </h5>
          <!-- <input
              id="landReceivedByName"
              type="text"
              class="form-control"
              [(ngModel)]="LandAllocateData.landReceivedByName"
              placeholder="Please Enter Possession Taken By Name"
              maxlength="15"
              autocomplete="off"
            /> -->
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="landReceivedMobileNo">
            Possession Taken By Mobile Number <span style="color: red">*</span>
          </label>
          <h5 style="color: green">
            {{ LandAllocateData.landReceivedMobileNo }}
          </h5>
          <!-- <input
              id="landReceivedMobileNo"
              type="text"
              class="form-control"
              [(ngModel)]="LandAllocateData.landReceivedMobileNo"
              placeholder="Please Enter Possession Taken By Mobile Number"
              maxlength="10"
              autocomplete="off"
            /> -->
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="landReceivedByDesig">
            Possession Taken By Designation <span style="color: red">*</span>
          </label>
          <h5 style="color: green">
            {{ LandAllocateData.landReceivedByDesig }}
          </h5>
          <!-- <input
              id="landReceivedByDesig"
              type="text"
              class="form-control"
              [(ngModel)]="LandAllocateData.landReceivedByDesig"
              placeholder="Please Enter Possession Taken By Designation"
              maxlength="15"
              autocomplete="off"
            /> -->
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="handOverByName">
            Possession Handover By Name <span style="color: red">*</span>
          </label>
          <h5 style="color: green">{{ LandAllocateData.handOverByName }}</h5>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="handOverByMobileNo">
            Possession Handover Mobile Number <span style="color: red">*</span>
          </label>
          <h5 style="color: green">
            {{ LandAllocateData.handOverByMobileNo }}
          </h5>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="handOverByDesig">
            Possession Handover By Designation <span style="color: red">*</span>
          </label>
          <h5 style="color: green">{{ LandAllocateData.handOverByDesig }}</h5>
        </div>
      </div>

      <!-- 
        <div class="col-md-4">
          <div class="form-group">
            <label for="positionTakenImage">
              Possession Taken By & Handover By Photo <span style="color: red">*</span>
            </label>
            <input
              type="file"
              class="form-control p-0"
              id="positionTakenImage"
              (change)="onPositionTakenChange($event)"
              accept="image/*"
              autocomplete="off"
            />
          </div>
        </div> -->

      <div class="col-md-4">
        <div class="form-group">
          <label for="positionStatementPdf">
            Attach Copy Of Possession Statement (PDF)
            <span style="color: red">*</span>
          </label>
          <input
            type="file"
            class="form-control p-0"
            id="positionStatementPdf"
            (change)="onPositionStatementChange($event)"
            accept="application/pdf"
            autocomplete="off"
          />
        </div>
      </div>

      <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="signedByPerson">
              Singed Person Name <span style="color: red">*</span>
            </label>
            <input
              id="signedByPerson"
              type="text"
              class="form-control"
              [(ngModel)]="LandAllocateData.signedByPerson"
              placeholder="Please Enter Singed Person Name"
              maxlength="15"
              autocomplete="off"
            />
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="form-group">
            <label for="signedByPersonPdf">
                Signed By Position Taking & Hand Over Persons Document <span style="color: red">*</span>
            </label>
            <input
              type="file"
              class="form-control p-0"
              id="positionStatementPdf"
              (change)="onSingedPersonChange($event)"
              accept="application/pdf"
              autocomplete="off"
            />
          </div>
        </div> -->

      <div class="col-md-12" align="center">
        <button
          type="button"
          class="btn btn-success btn-sm"
          (click)="btnSubmit()"
        >
          SUBMIT
        </button>
      </div>
    </div>
  </div>
</div>

<div class="popup-modal" *ngIf="possessionHandOverPopUp">
  <div class="popup-content">
    <div class="popup-header">
      <h4 class="title">POSSESSION HAND OVER DETAILS</h4>
      <a
        type="button"
        class="close"
        (click)="possessionHandOverPopUp = false"
        style="cursor: pointer"
      >
        <span>×</span>
      </a>
    </div>

    <div class="popup-body">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-12">
          <div class="form-group">
            <label for="handOverByName">
              Possession Handover By Name <span style="color: red">*</span>
            </label>
            <input
              id="handOverByName"
              type="text"
              class="form-control"
              [(ngModel)]="LandAllocateData.handOverByName"
              placeholder="Please Enter Possession Handover By Name"
              maxlength="15"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="handOverByMobileNo">
              Possession Handover Mobile Number
              <span style="color: red">*</span>
            </label>
            <input
              id="handOverByMobileNo"
              type="text"
              class="form-control"
              [(ngModel)]="LandAllocateData.handOverByMobileNo"
              placeholder="Please Enter Possession Handover By Mobile Number"
              maxlength="10"
              NumbersOnly
              [allowDecimals]="false"
              [allowSign]="false"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="handOverByDesig">
              Possession Handover By Designation
              <span style="color: red">*</span>
            </label>
            <input
              id="handOverByDesig"
              type="text"
              class="form-control"
              [(ngModel)]="LandAllocateData.handOverByDesig"
              placeholder="Please Enter Possession Handover By Designation"
              maxlength="15"
              autocomplete="off"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="popup-footer justify-content-center">
      <button
        type="button"
        class="btn btn-outline-success btn-sm btn-rounded"
        (click)="btnPDFDownload()"
      >
        UPDATE
      </button>
      <button
        type="button"
        class="btn btn-outline-danger btn-sm btn-rounded"
        (click)="possessionHandOverPopUp = false"
      >
        Close
      </button>
    </div>
  </div>
</div>
