<div class="card">
    <div class="card-header p-2">
      <h5 class="mb-0">PASSWORD RESET</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="role">LOGIN TYPE <span style="color: red">*</span></label>
            <select id="role" class="form-control" [(ngModel)]="role">
              <option value="">-- SELECT LOGIN TYPE --</option>
              <option value="{{ obj.ROLE }}" *ngFor="let obj of loginList">
                {{ obj.ROLE_NAME }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="userName">
              USERNAME <span style="color: red">*</span>
            </label>
            <input
              id="userName"
              type="text"
              class="form-control"
              [(ngModel)]="userName"
              placeholder="Please Enter Username"
              maxlength="15"
              autocomplete="off"
            />
          </div>
        </div>
  
        <div class="col-md-4 pt-4" align="left">
          <button
            type="button"
            class="btn btn-success btn-sm"
            (click)="btnUserDetails()"
          >
            SUBMIT
          </button>
        </div>
      </div>
  
      <hr />
  
       <div class="row px-4" *ngIf="userDetails !== null && userDetails !== '' && userDetails !== undefined">
          <div class="col-md-3">
            <div class="form-group">
              <label>
                USERNAME :
                <span class="text-success">
                  <b>{{ userDetails.USERNAME }}</b>
                </span>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>
                NAME :
                <span class="text-success">
                  <b>{{ userDetails.NAME }}</b>
                </span>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>
                MOBILE NUMBER :
                <span class="text-success">
                  <b>{{ userDetails.MOBILE_NO }}</b>
                </span>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>
                DESIGNATION :
                <span class="text-success">
                  <b>{{ userDetails.DESIGNATION }}</b>
                </span>
              </label>
            </div>
          </div>
         
    
        <div class="col-md-12 " align="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="btnResetPassword()"
          >
            RESET
          </button>
        </div>
      </div> 
    </div>
  </div>
  