 

<div class="card">
    <div class="card-header p-2">
      <h5 class="mb-0">VERIFICATION OF LANDALLOTMENT  AMCU</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">


            <!-- <div class="col-md-4">
                <div class="form-group">
                  <label for="districtId">DISTRICT </label>
                  <select class="form-control" [(ngModel)]="districtId"  (change)="ondistrictChange()">
                    <option value="">-- ALL --</option>
                    <option
                      value="{{ obj.DISTRICT_ID }}"
                      *ngFor="let obj of districtList"
                    >
                      {{ obj.DISTRICT_NAME }}
                    </option>
                  </select>
                </div>
              </div> -->


              <div class="row">
                <div class="form-group">
                <div class="col-6 col-md-12"> <label for="MANDAL_CODE">MANDAL </label></div>
                <div class="col-12 col-md-12">   <select class="form-control" [(ngModel)]="MANDAL_CODE">
                    <option value="">-- Select Mandal --</option>
                    <option
                      value="{{ obj.MANDAL_CODE }}"
                      *ngFor="let obj of mandalList"
                    >
                      {{ obj.MANDAL_NAME }}
                    </option>
                  </select></div></div>
                <div class="col-2 col-md-6">  <button
                    type="button"
                    class="btn btn-primary btn-sm mt-3"
                    (click)="loadReport()"  >
                    <i class="fa fa-arrow-right mr-2" aria-hidden="true"></i>
                    Go 
                  </button></div>
                <div class="col-3  ">  <button
                    type="button"
                    class="btn btn-success btn-sm pull-right"
                    (click)="btnExcel()"
                  >
                    <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
                    Download Excel
                  </button></div></div>
              
 

          <!-- <button
            type="button"
            class="btn btn-danger btn-sm pull-right"
            (click)="btnPDF()"
          >
            <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
            Download PDF
          </button> -->
        </div>
        <!-- <div class="col-md-4">
          <h5>
            <b> District : </b
            ><span class="text-success">{{ districtName }}</span>
          </h5>
        </div>
        <div class="col-md-4">
          <h5>
            <b> Mandal : </b><span class="text-success">{{ mandalName }}</span>
          </h5>
        </div> -->
       


        <div *ngIf="Tableload"
          class="col-md-12 table-responsive"
          [hidden]="mandalLevelDetails?.length < 1"
        >
          <table
            class="table table-striped ah-table text-center"
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
          >
            <thead class="bg-success text-white">
              <tr>
                <th>S.No.</th>
                <th>RSK Name</th>

                <th>Village Name</th>
                
                <th>Public/Donated Land</th>
                <th>Survey No</th>
                <th>Area</th>
                <th>Land Allotment Status</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>North Boundary</th>
                <th>South Boundary</th>
                <th>East Boundary</th>
                <th>West Boundary</th>
                <th>Land Photo</th>
                <!-- <th>Handover Village Name</th> -->
                <th>Alienation Certificate</th>
                <th>Land Taken By Name</th>
                <th>Land Taken By Mobile No</th>
                <th>Land Taken By Designation</th>
                <th>Land Handover By Name</th>
                <th>Land Handover By Mobile No</th>
                <th>Land Handover By Designation</th>
                <th>Possession Certificate</th>
                <th>Revenu Record</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody *ngIf="mandalLevelDetails?.length > 0">
              <tr *ngFor="let obj of mandalLevelDetails; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                  <b>{{ obj.RBK_NAME }}</b>
                </td>

                <td>
                  <b>{{ obj.HANDOVER_VILLAGE_NAME }}</b>   
                  <!-- <b>{{ obj.REVENUE_VILLAGE_NAME }}</b>   -->
                </td>
                <td>{{ obj.PUBLIC_PRIVATE_LAND }}</td>
                <td>{{ obj.SURVEY_NUMBER }}</td>
                <td>{{ obj.AREA }}</td>
                <td>{{ obj.LAND_ALLOTMENT_STATUS }}</td>
                <td>{{ obj.LATITUDE }}</td>
                <td>{{ obj.LONGITUDE }}</td>

                <td>
                  <button
                    type="button"
                    class="btn btn-link btn-sm"
                    *ngIf="
                      obj.NORTH_IMG !== null &&
                      obj.NORTH_IMG !== '' &&
                      obj.NORTH_IMG !== undefined
                    "
                    (click)="btnPhotoView(obj.NORTH_IMG)"
                  >
                    {{ obj.NORTH_BOUNDARY }}
                  </button>
                  <span
                    *ngIf="
                      obj.NORTH_IMG === null ||
                      obj.NORTH_IMG === '' ||
                      obj.NORTH_IMG === undefined
                    "
                    >{{ obj.NORTH_BOUNDARY }}</span
                  >
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-link btn-sm"
                    *ngIf="
                      obj.SOUTH_IMG !== null &&
                      obj.SOUTH_IMG !== '' &&
                      obj.SOUTH_IMG !== undefined
                    "
                    (click)="btnPhotoView(obj.SOUTH_IMG)"
                  >
                    {{ obj.SOUTH_BOUNDARY }}
                  </button>
                  <span
                    *ngIf="
                      obj.SOUTH_IMG === null ||
                      obj.SOUTH_IMG === '' ||
                      obj.SOUTH_IMG === undefined
                    "
                    >{{ obj.SOUTH_BOUNDARY }}</span
                  >
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-link btn-sm"
                    *ngIf="
                      obj.EAST_IMG !== null &&
                      obj.EAST_IMG !== '' &&
                      obj.EAST_IMG !== undefined
                    "
                    (click)="btnPhotoView(obj.EAST_IMG)"
                  >
                    {{ obj.EAST_BOUNDARY }}
                  </button>
                  <span
                    *ngIf="
                      obj.EAST_IMG === null ||
                      obj.EAST_IMG === '' ||
                      obj.EAST_IMG === undefined
                    "
                    >{{ obj.EAST_BOUNDARY }}</span
                  >
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-link btn-sm"
                    *ngIf="
                      obj.WEST_IMG !== null &&
                      obj.WEST_IMG !== '' &&
                      obj.WEST_IMG !== undefined
                    "
                    (click)="btnPhotoView(obj.WEST_IMG)"
                  >
                    {{ obj.WEST_BOUNDARY }}
                  </button>
                  <span
                    *ngIf="
                      obj.WEST_IMG === null ||
                      obj.WEST_IMG === '' ||
                      obj.WEST_IMG === undefined
                    "
                    >{{ obj.WEST_BOUNDARY }}</span
                  >
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-link btn-sm"
                    *ngIf="
                      obj.LAND_ENTIRE_IMG !== null &&
                      obj.LAND_ENTIRE_IMG !== '' &&
                      obj.LAND_ENTIRE_IMG !== undefined
                    "
                    (click)="btnPhotoView(obj.LAND_ENTIRE_IMG)"
                  >
                    View 
                  </button>
                  <span
                    *ngIf="
                      obj.LAND_ENTIRE_IMG === null ||
                      obj.LAND_ENTIRE_IMG === '' ||
                      obj.LAND_ENTIRE_IMG === undefined
                    "
                    >NA</span
                  >
                </td>
                <!-- <td>{{ obj.HANDOVER_VILLAGE_NAME }}</td> -->
                <td>
                  <button
                    type="button"
                    class="btn btn-link btn-sm"
                    *ngIf="
                      obj.ALIENATION_PDF_JD_SUB !== null &&
                      obj.ALIENATION_PDF_JD_SUB !== 'NA' &&
                      obj.ALIENATION_PDF_JD_SUB !== undefined
                    "
                    (click)="btnPdfView(obj.ALIENATION_PDF_JD_SUB)"
                  >
                  View
                  </button>
                  <span
                    *ngIf="
                      obj.ALIENATION_PDF_JD_SUB === null ||
                      obj.ALIENATION_PDF_JD_SUB === 'NA' ||
                      obj.ALIENATION_PDF_JD_SUB === undefined
                    "
                    >NA</span
                  >
                </td>
                <td>{{ obj.LAND_TAKEN_BY_NAME }}</td>
                <td>{{ obj.LAND_TAKEN_BY_MOB_NO }}</td>
                <td>{{ obj.LAND_TAKEN_BY_DISIGNATION }}</td>
                <td>{{ obj.LAND_HANDOVER_BY_NAME }}</td>
                <td>{{ obj.LAND_HANDOVER_BY_MOB_NO }}</td>
                <td>{{ obj.LAND_HANDOVER_BY_DISIGNATION }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-link btn-sm"
                    *ngIf="
                      obj.ATT_POSITION_STATEMENT_PDF !== null &&
                      obj.ATT_POSITION_STATEMENT_PDF !== 'NA' &&
                      obj.ATT_POSITION_STATEMENT_PDF !== undefined
                    "
                    (click)="btnPdfView(obj.ATT_POSITION_STATEMENT_PDF)"
                  >
                  View
                  </button>
                  <span
                    *ngIf="
                      obj.ATT_POSITION_STATEMENT_PDF === null ||
                      obj.ATT_POSITION_STATEMENT_PDF === 'NA' ||
                      obj.ATT_POSITION_STATEMENT_PDF === undefined
                    "
                    >NA</span
                  >
                </td>
                

                <td>
                  <button
                    type="button"
                    class="btn btn-link btn-sm"
                    *ngIf="obj.REVENUE_CERT_JD_SUB !== null &&  obj.REVENUE_CERT_JD_SUB !== 'NA' && obj.REVENUE_CERT_JD_SUB !== undefined "
                    (click)="btnPdfView(obj.REVENUE_CERT_JD_SUB)"
                  >
                  View
                  </button>
                  <span
                    *ngIf="
                      obj.REVENUE_CERT_JD_SUB === null ||
                      obj.REVENUE_CERT_JD_SUB === 'NA' ||
                      obj.REVENUE_CERT_JD_SUB === undefined
                    "
                    >NA</span
                  >
                </td>



                <td>
                    <button  
                      type="button"
                      class="btn btn-link btn-sm button-42"
                      *ngIf="
                        obj.VILLAGECODE !== null &&
                        obj.VILLAGECODE !== 'NA' &&
                        obj.VILLAGECODE !== undefined
                      "
                      (click)="btnDelete(obj.VILLAGECODE)"
                    >
                    Delete
                    </button>
                    <span
                      *ngIf="
                        obj.VILLAGECODE === null ||
                        obj.VILLAGECODE === 'NA' ||
                        obj.VILLAGECODE === undefined
                      "
                      >NA</span
                    >
                  </td>


              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  