<div class="card">
  <div class="card-header p-2">
    <h5>RESENDING OF LOGIN CREDENTIALS</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label for="typeid">USER TYPE<span style="color: red;">*</span></label>
          <select id="typeid" class="form-control" [(ngModel)]="typeid" (change)="ontypechange()">
            <option selected value="undefined" disabled>- SELECT USER TYPE -</option>
            <option value="{{obj.TYPE_CODE}}" *ngFor="let obj of TYPELIST">{{obj.TYPE_LABEL}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-3" *ngIf="typeid==1">
        <div class="form-group">
          <label for="userId">
            USER ID
            <span style="color: red">*</span>
          </label>
          <input id="userId" type="text" class="form-control" [(ngModel)]="userId" placeholder="Enter User ID"
            maxlength="15" NumbersOnly [allowDecimals]="false" [allowSign]="false" autocomplete="off" />
        </div>
      </div>

      <div class="col-md-3" *ngIf="typeid==2">
        <div class="form-group">
          <label for="Designation"> DESIGNATION <span style="color: red;">*</span></label>
          <select id="Designation" class="form-control" [(ngModel)]="Designation" (change)="onDesignchange()">
            <option selected value="undefined" disabled>-- SELECT DESIGNATION --</option>
            <option value="{{obj.DESIG_ID}}" *ngFor="let obj of DESIGNATIONLIST">{{obj.DESIGNATION}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3" *ngIf="typeid==2">
        <div class="form-group">
          <label for="Routeid"> ROUTE <span style="color: red;">*</span></label>
          <select id="Routeid" class="form-control" [(ngModel)]="Routeid" (change)="onRoutechange()">
            <option selected value="undefined" disabled>-- SELECT ROUTE --</option>
            <option value="{{obj.ROUTE_NO}}" *ngFor="let obj of ROUTELIST">{{obj.ROUTE_NAME}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3" *ngIf="typeid==2">
        <div class="form-group">
          <label for="phaseid"> PHASE <span style="color: red;">*</span></label>
          <select id="phaseid" class="form-control" [(ngModel)]="phaseid">
            <!-- (change)="onDesignchange()" -->
            <option selected value="undefined" disabled>-- SELECT PHASE --</option>
            <option value="{{obj.PHASE_CODE}}" *ngFor="let obj of PHASELIST">{{obj.PHASE_NAME}}</option>
          </select>
        </div>
      </div>


      <div class="col-md-1">
        <button style="margin-top: 31px;" type="button" class="btn btn-primary btn-sm" (click)="btnFind()">
          FIND
        </button>
      </div>

    </div> 
    <div class="row">
      <div class="col-md-12 table-responsive"
        [hidden]="LOGINDETAILSLIST?.length < 1 && LOGINDETAILSLIST1?.length < 1 && LOGINDETAILSLIST2?.length < 1">
        <table class="table table-striped ah-table text-center" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead class="bg-success text-white">


            <tr [hidden]="LOGINDETAILSLIST?.length < 1">
              <th class="tableheader_color">S NO</th>
              <th class="tableheader_color">ROUTE NAME</th>
              <th class="tableheader_color">EMPLOYEE NAME</th>
              <th class="tableheader_color">MOBILE NUMBER</th>
              <th class="tableheader_color">DESIGNATION</th>
              <th class="tableheader_color">USER NAME</th>
              <th class="tableheader_color">NO OF TIMES <br> SMS SENT</th>
              <th class="tableheader_color">ACTION</th>
              <th class="tableheader_color" style="width: 1px;" >Role</th>

            </tr>

            <tr [hidden]="LOGINDETAILSLIST?.length < 1">
              <th class="tableheader_color">1</th>
              <th class="tableheader_color">2</th>
              <th class="tableheader_color">3</th>
              <th class="tableheader_color">4</th>
              <th class="tableheader_color">5</th>
              <th class="tableheader_color">6</th>
              <th class="tableheader_color">7</th>
              <th class="tableheader_color">8</th>
              <th class="tableheader_color"  style="width: 1px;">9</th>

            </tr>

            <tr [hidden]="LOGINDETAILSLIST1?.length < 1">
              <th class="tableheader_color">S NO</th>
              <th class="tableheader_color">MANDAL NAME</th>
              <th class="tableheader_color">EMPLOYEE NAME</th>
              <th class="tableheader_color">MOBILE NUMBER</th>
              <th class="tableheader_color">DESIGNATION</th>
              <th class="tableheader_color">USER NAME</th>
              <th class="tableheader_color">NO OF TIMES <br> SMS SENT</th>
              <th class="tableheader_color">ACTION</th>
              <th class="tableheader_color"  style="width: 1px;">Role</th>
            </tr>

            <tr [hidden]="LOGINDETAILSLIST1?.length < 1">
              <th class="tableheader_color">1</th>
              <th class="tableheader_color">2</th>
              <th class="tableheader_color">3</th>
              <th class="tableheader_color">4</th>
              <th class="tableheader_color">5</th>
              <th class="tableheader_color">6</th>
              <th class="tableheader_color">7</th>
              <th class="tableheader_color">8</th>
              <th class="tableheader_color"  style="width: 1px;">9</th>
            </tr>

            <tr [hidden]="LOGINDETAILSLIST2?.length < 1">
              <th class="tableheader_color">S NO</th>
              <th class="tableheader_color">RSK NAME</th>
              <th class="tableheader_color">MANDAL NAME</th>
              <th class="tableheader_color">EMPLOYEE NAME</th>
              <th class="tableheader_color">MOBILE NUMBER</th>
              <th class="tableheader_color">DESIGNATION</th>
              <th class="tableheader_color">USER NAME</th>
              <th class="tableheader_color">NO OF TIMES <br> SMS SENT</th>
              
              <th class="tableheader_color">ACTION</th>
              <th class="tableheader_color" style="width: 1px;">Role</th>
            </tr>

            <tr [hidden]="LOGINDETAILSLIST2?.length < 1">
              <th class="tableheader_color">1</th>
              <th class="tableheader_color">2</th>
              <th class="tableheader_color">3</th>
              <th class="tableheader_color">4</th>
              <th class="tableheader_color">5</th>
              <th class="tableheader_color">6</th>
              <th class="tableheader_color">7</th>
              <th class="tableheader_color">8</th>
              <th class="tableheader_color">9</th>
              <th class="tableheader_color"  style="width: 1px;">10</th>
            </tr>

          </thead>
          <tbody
            *ngIf="LOGINDETAILSLIST?.length > 0  || LOGINDETAILSLIST1?.length > 0 || LOGINDETAILSLIST2?.length > 0">
            <tr *ngFor="let obj of LOGINDETAILSLIST; let i = index">

              <td class="number_align">{{ i+1 }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.ROUTE_NAME }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.EMPLOYEE_NAME }}</td>
              <td class="number_align">{{ obj.MOBILE_NUMBER }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.DESIGNATION }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.USER_NAME }}</td>
              <td class="number_align">{{ obj.SMS_COUNT }}</td>
              <td>
                <input style="width: 20px;" type="checkbox" id="checkbox_{{obj.MOBILE_NUMBER}}"
                  (change)="onSelectionChange($event, obj)">
              </td>
              <td class="number_align"   style="width: 1px;"> {{ obj.DESID }}</td>
            </tr>

            <tr *ngFor="let obj of LOGINDETAILSLIST1; let i = index;">

              <td class="number_align">{{ i + 1 }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.MANDAL_NAME }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.EMPLOYEE_NAME }}</td>
              <td class="number_align">{{ obj.MOBILE_NUMBER }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.DESIGNATION }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.USER_NAME }}</td>
              <td class="number_align">{{ obj.SMS_COUNT }}</td>
              <td>
                <input style="width: 20px;" type="checkbox" id="checkbox_{{obj.MOBILE_NUMBER}}"
                  (change)="onSelectionChange($event, obj)">
              </td>
              <td class="number_align"   style="width: 1px;">{{ obj.DESID }}</td>
            </tr>
            <tr *ngFor="let obj of LOGINDETAILSLIST2; let i = index">
              <td class="number_align">{{ i + 1 }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.RBK_NAME }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.MANDAL_NAME }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.EMPLOYEE_NAME }}</td>
              <td class="number_align">{{ obj.MOBILE_NUMBER }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.DESIGNATION }}</td>
              <td style="text-align: left;" class="table_cells_borders">{{ obj.USER_NAME }}</td>
              <td class="number_align">{{ obj.SMS_COUNT }}</td>
              <td>
                <input style="width: 20px;" type="checkbox" id="checkbox_{{obj.MOBILE_NUMBER}}"
                  (change)="onSelectionChange($event, obj)">
              </td>
              <td class="number_align"  style="width: 1px;">{{ obj.DESID }}</td>
            </tr>
          </tbody>
        </table>
      </div> 
    </div>

    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <button *ngIf="LOGINDETAILSLIST?.length > 0 || LOGINDETAILSLIST1?.length > 0 || LOGINDETAILSLIST2?.length > 0"
          (click)="BTNSUBMIT(obj)" class="btn btn-primary btn-sm">SUBMIT</button>
      </div>
      <div class="col-md-5"></div>
    </div>


    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
    <table *ngIf="tablehide" class="table table-striped ah-table text-center">
      <thead class="bg-success text-white">
        <tr>
          <th>S NO</th>
          <th>USER NAME</th>
          <th>SMS PUSH STATUS</th>
          <!-- <th>RECORD DB STATUS</th> -->
        </tr>
      </thead>
      <tbody *ngIf="SUBMITLIST?.length > 0">
        <tr *ngFor="let obj of SUBMITLIST; let i = index">
          <td>{{ i+1 }}</td>
          <td  >{{ obj.USER_NAME }}</td>
          <td  >
            <span *ngIf="(obj.SMS_PUSH_STATUS === '1')"> SMS SENT</span>
            <span *ngIf="(obj.SMS_PUSH_STATUS === '0')"> SMS FAILED</span>
          </td>
          <!-- <td class="number_align">
            <span *ngIf="(obj.RECORD_DB_STATUS === '1')"> RECORD INSERTED</span>
            <span *ngIf="(obj.RECORD_DB_STATUS === '0')"> RECORD INSERTED FAILED</span>
          </td> -->
        </tr>
      </tbody>
    </table>
     </div>
     <div class="col-md-3"></div>
  </div>


  </div>

</div>