<style>
  .block {
    width: 100%;
    border: none;
    text-align: center;
    font-weight: bold;
  }
  
  .block:hover {
    background-color: #ddd;
    color: black;
  }
  </style>


<div class="row">
  <!-- <div class="col mb-2">
    <div
      class="stats-card pending"
      (click)="btnDashboardDetails('2', dashboardDetails.TOTAL_PENDING)"
      [ngClass]="reportType === '2' ? 'active' : ''"
    >
      <div class="overlay"></div>

      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="stats-text">
            <p class="text-uppercase text-muted mb-1"><small>PENDING</small></p>
            <h5 class="font-weight-bold mb-0">
              {{ dashboardDetails.TOTAL_PENDING }}
            </h5>
          </div>
          <div class="circle">
            <i class="fas fa-hourglass-half"></i>
          </div>
        </div>
      </div>
    </div>
    
  </div>




  <div class="col mb-2">
    <div
      class="stats-card success"
      (click)="btnDashboardDetails('1', dashboardDetails.TOTAL_COMPLETED)"
      [ngClass]="reportType === '1' ? 'active' : ''"
    >
      <div class="overlay"></div>

      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="stats-text">
            <p class="text-uppercase text-muted mb-1">
              <small>APPROVED</small>
            </p>
            <h5 class="font-weight-bold mb-0">
              {{ dashboardDetails.TOTAL_COMPLETED }}
            </h5>
          </div>
          <div class="circle">
            <i class="fas fa-check-double"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col mb-2">
    <div
      class="stats-card pending"
      (click)="btnDashboardDetails('3', dashboardDetails.TOTAL_REJECTED)"
      [ngClass]="reportType === '3' ? 'active' : ''"
    >
      <div class="overlay"></div>

      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="stats-text">
            <p class="text-uppercase text-muted mb-1"><small>REJECTED</small></p>
            <h5 class="font-weight-bold mb-0">
              {{ dashboardDetails.TOTAL_REJECTED }}
            </h5>
          </div>
          <div class="circle">
            <i class="fas fa-icicles fa-spin fa-3x"></i>
          </div>
        </div>
      </div>
    </div>
    
  </div> 


  <div class="col mb-2">
    <div
      class="stats-card pending"
      (click)="btnDashboardDetails('4', dashboardDetails.TOTAL_ROLLBACK)"
      [ngClass]="reportType === '4' ? 'active' : ''"
    >
      <div class="overlay"></div>

      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="stats-text">
            <p class="text-uppercase text-muted mb-1"><small>ROLLBACK</small></p>
            <h5 class="font-weight-bold mb-0">
              {{ dashboardDetails.TOTAL_ROLLBACK }}
            </h5>
          </div>
          <div class="circle">
            <i class="fas fa-i-cursor fa-pulse fa-spin fa-3x"></i>
          </div>
        </div>
      </div>
    </div>
    
  </div>-->
  
</div>


<div>


<div class="card"  [hidden]="!divLive1">


  <div class="card-header p-2">
  <div class="row">
    <div class="col-md-2" style="text-align: right;">
    <h5 class="mb-0">DLCO CHECKLIST</h5>
  </div>
  <div class="col-md-3" style="justify-content: left;">
    <h5 [hidden]="!divLive">( Pending )</h5> <h5 [hidden]="divLive">( Rolled Back )</h5>
  </div>
  <div class="col-md-7" style="text-align: right;">
    <button class="btn btn-success" (click)="LiveBtnClick(0)">Pending</button>
    <button class="btn btn-danger" (click)="LiveBtnClick(1)">Rolled Back</button>
  </div>
  </div>
  </div>



  <div class="card-body" [hidden]="!divLive">
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="form-group" style="text-align: right;">
          <label>SELECT RSK ID<span style="color: red">*</span></label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <select [(ngModel)]="RBKDDSelected" id="RBKDDSelected" class="form-control" (change)="RBKDDChange();">
            <option value="">--Select RSK Id--</option>
            <option *ngFor="let rbk of rbkList" value="{{rbk.RBK_CODE}}">{{rbk.RBK_NAME}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-2" *ngIf="FORM_A_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(FORM_A_PDF)"><i class="fa fa-eye"></i> FORM A</button>
      </div>
      <div class="col-md-2" *ngIf="MASUDHA_FORM_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(MASUDHA_FORM_PDF)"><i class="fa fa-eye"></i> MASUDHA FORM</button>
      </div>
      
      <div class="col-md-2" *ngIf="BYE_LAW_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(BYE_LAW_PDF)"><i class="fa fa-eye"></i> BY LAW</button>
      </div>
      <div class="col-md-2" *ngIf="FESABILITY_REPORT_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(FESABILITY_REPORT_PDF)"><i class="fa fa-eye"></i> FEASIBILITY REPORT</button>
      </div>
      <div class="col-md-2" *ngIf="BANK_PASSBOOK_IMAGE">
        <button class="btn btn-sm btn-info block" (click)="btnImg(BANK_PASSBOOK_IMAGE)"><i class="fa fa-eye"></i> BANK PASSBOOK</button>
      </div>
      <div class="col-md-1">
      </div>

      <div class="col-md-1">
      </div>
      <div class="col-md-2" *ngIf="BANK_REMITTANCE_CERTI_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(BANK_REMITTANCE_CERTI_PDF)"><i class="fa fa-eye"></i> BANK REMITTANCE</button>
      </div>
      <div class="col-md-2" *ngIf="REQ_LETTER_ADHOCK_COM_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(REQ_LETTER_ADHOCK_COM_PDF)"><i class="fa fa-eye"></i> REQUEST LETTER</button>
      </div>
      
      <div class="col-md-2" *ngIf="MEETING_PROCEDINGS_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(MEETING_PROCEDINGS_PDF)"><i class="fa fa-eye"></i> MEETING PROCEEDINGS</button>
      </div>
      <div class="col-md-2" *ngIf="SWORN_STATEMENT_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(SWORN_STATEMENT_PDF)"><i class="fa fa-eye"></i> SWORN STATEMENT</button>
      </div>
      <div class="col-md-2" *ngIf="ECONOMIC_VIABILITY_REP_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(ECONOMIC_VIABILITY_REP_PDF)"><i class="fa fa-eye"></i> ECONOMIC VIABILITY</button>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 table-responsive" [hidden]="checkList?.length < 1">
        <table class="table table-striped ah-table text-center" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger" data-page-length='25'>
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>QUESTION</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody *ngIf="checkList?.length > 0">
            <tr *ngFor="let obj of checkList; let i = index">
              <td>{{ i + 1 }}</td>
              <td style="text-align: left;">{{ obj.CHECK_LIST_NAME }}</td>
              <td style="text-align: center;">
                <input type="radio" (change)="onSelectionChange(obj.CHECK_LIST_CODE)"
                  name="inputRadio{{ obj.CHECK_LIST_CODE }}" id="inputRadio{{ obj.CHECK_LIST_CODE }}"
                  value="0,{{ obj.CHECK_LIST_CODE }}" [(ngModel)]="obj.CHECK_LIST_CODE" /> <label>No</label>
                <input type="radio" (change)="onSelectionChange(obj.CHECK_LIST_CODE)"
                  name="inputRadio{{ obj.CHECK_LIST_CODE }}" id="inputRadio{{ obj.CHECK_LIST_CODE }}"
                  value="1,{{ obj.CHECK_LIST_CODE }}" [(ngModel)]="obj.CHECK_LIST_CODE" style="margin-left: 40px;" />
                Yes
              </td>
            </tr>
          </tbody>
        </table>
 
        <!-- uploadpdf srinivas -->
        <!-- <div class="row" [hidden]="!divSbmt2" style="border: 5px;border-color: rgb(121, 12, 12);background-color: darkkhaki;">
          <div class="col-md-2">
            <div class="form-group"> 

            </div>            
          </div>
          <div class="col-md-5">
            <div class="form-group" style="text-align: right;">
          
            <button class="btn btn-sm btn-info text-white" style="margin-top: 10px;" (click)="btnpdfdownload('1')"><i class="fa fa-eye"></i> Download Checklist</button>
            <button class="btn-style" routerLink=" checklist.pdf" routerLinkActive="active">Get File</button>
            <div class="content-wrapper">
              <ejs-pdfviewer id="pdfViewer" [serviceUrl]='service' [documentPath]='document' style="height:640px;display:block"></ejs-pdfviewer>
            </div>`
          <label for="applicationUpload" >DLCO CHECKLIST FORM UPLOAD :
            <span style="color: red"
              >* <small class="text-danger"> (PDF,Max 1MB) </small></span>
          </label>
       </div>  </div>  

          <div class="col-md-3">
            <div class="form-group"> 
              
              <input
                type="file"
                class="form-control p-0"
                id="checklistpdfUpload"
                (change)="onCHECKLISTFormChange($event)"
                accept="application/pdf"
                #applicationUpload
                autocomplete="off" style="margin-top: 10px;"
              />
            </div>            
          </div>

          <div class="col-md-2">
            <div class="form-group"> 

            </div>            
          </div>
        </div> -->
         <!-- uploadpdf srinivas -->

        
        <div class="row" [hidden]="!divSbmt">
          <div class="col-md-1"  style="text-align: end;">
          <input type="checkbox" [(ngModel)]="CheckText" />
        </div>
        <div class="col-md-11">
           <label>
            Checked the contents of the check list with the details submitted by the Route-in-charges and  found  to be in accordance with the  statutory and administrative  requirements . 
          </label>
        </div>
        <div class="col-md-12"   style="text-align: center;">
          <button class="btn btn-success" (click)="submitClick();">Submit</button>
        </div>
        </div> 

      <div class="col-md-12" [hidden]="checkList?.length > 0">
        <!-- <h3 class="text-center">
          No pending check Lists Available !!!
        </h3> -->
      </div>
    </div>

  </div>
</div>
  <div class="card-body" [hidden]="divLive">
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="form-group" style="text-align: right;">
          <label>SELECT RSK ID<span style="color: red">*</span></label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <select [(ngModel)]="penRBKDDSelected" class="form-control" (change)="penRBKDDChange();">
            <option value="">--Select RSK Ids--</option>
            <option *ngFor="let rbk of penrbkList" value="{{rbk.RBK_CODE}}">{{rbk.RBK_NAME}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-2" *ngIf="FORM_A_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(FORM_A_PDF)"><i class="fa fa-eye"></i> FORM A</button>
      </div>
      <div class="col-md-2" *ngIf="MASUDHA_FORM_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(MASUDHA_FORM_PDF)"><i class="fa fa-eye"></i> MASUDHA FORM</button>
      </div>
      
      <div class="col-md-2" *ngIf="BYE_LAW_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(BYE_LAW_PDF)"><i class="fa fa-eye"></i> BYE LAW</button>
      </div>
      <div class="col-md-2" *ngIf="FESABILITY_REPORT_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(FESABILITY_REPORT_PDF)"><i class="fa fa-eye"></i> FEASIBILITY REPORT</button>
      </div>
      <div class="col-md-2" *ngIf="BANK_PASSBOOK_IMAGE">
        <button class="btn btn-sm btn-info block" (click)="btnImg(BANK_PASSBOOK_IMAGE)"><i class="fa fa-eye"></i> BANK PASSBOOK</button>
      </div>
      <div class="col-md-1">
      </div>

      <div class="col-md-1">
      </div>
      <div class="col-md-2" *ngIf="BANK_REMITTANCE_CERTI_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(BANK_REMITTANCE_CERTI_PDF)"><i class="fa fa-eye"></i> BANK REMITTANCE</button>
      </div>
      <div class="col-md-2" *ngIf="REQ_LETTER_ADHOCK_COM_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(REQ_LETTER_ADHOCK_COM_PDF)"><i class="fa fa-eye"></i> REQUEST LETTER</button>
      </div>
      
      <div class="col-md-2" *ngIf="MEETING_PROCEDINGS_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(MEETING_PROCEDINGS_PDF)"><i class="fa fa-eye"></i> MEETING PROCEEDINGS</button>
      </div>
      <div class="col-md-2" *ngIf="SWORN_STATEMENT_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(SWORN_STATEMENT_PDF)"><i class="fa fa-eye"></i> SWORN STATEMENT</button>
      </div>
      <div class="col-md-2" *ngIf="ECONOMIC_VIABILITY_REP_PDF">
        <button class="btn btn-sm btn-info block" (click)="btnPdf(ECONOMIC_VIABILITY_REP_PDF)"><i class="fa fa-eye"></i> ECONOMIC VIABILITY</button>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 table-responsive" [hidden]="pencheckList?.length < 1">
        <table class="table table-striped ah-table text-center" datatable [dtOptions]="dtOptions"
          [dtTrigger]="pendtTrigger" data-page-length='25'>
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>QUESTION</th>
              <th>DCO STATUS</th>
                <th>GM STATUS</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody *ngIf="pencheckList?.length > 0">
            <tr *ngFor="let obj of pencheckList; let i = index">
              <td>{{ i + 1 }}</td>
              <td style="text-align: left;">{{ obj.CHECK_LIST_NAME }}</td>
              <td>{{ obj.DCO_STATUS }}</td>
              <td>{{ obj.GM_STATUS }}</td>
              <td style="text-align: center;">
                <input type="radio" (change)="penonSelectionChange(obj.CHECK_LIST_CODE)"
                  name="inputRadio{{ obj.CHECK_LIST_CODE }}" id="inputRadio{{ obj.CHECK_LIST_CODE }}"
                  value="0,{{ obj.CHECK_LIST_CODE }}" [(ngModel)]="obj.CHECK_LIST_CODE" /> <label>No</label>
                <input type="radio" (change)="penonSelectionChange(obj.CHECK_LIST_CODE)"
                  name="inputRadio{{ obj.CHECK_LIST_CODE }}" id="inputRadio{{ obj.CHECK_LIST_CODE }}"
                  value="1,{{ obj.CHECK_LIST_CODE }}" [(ngModel)]="obj.CHECK_LIST_CODE" style="margin-left: 40px;" />
                Yes
              </td>
            </tr>
          </tbody>
        </table>
         

        

        <div class="row" [hidden]="!pendivSbmt">
          <div class="col-md-1"  style="text-align: end;">
          <input type="checkbox" [(ngModel)]="PenCheckText"  onchange="uploadpdfenable()" />
        </div>
        <div class="col-md-11">
           <label>
            Checked the contents of the check list with the details submitted by the Route-in-charges and  found  to be in accordance with the  statutory and administrative  requirements . 
          </label>
        </div> 
        <div class="col-md-12"   style="text-align: center;">
          <button class="btn btn-success" (click)="pensubmitClick();">Submit</button>
        </div>
        </div>


      </div>
      <div class="col-md-12" [hidden]="pencheckList?.length > 0">
        <!-- <h3 class="text-center">
          No roll backed check Lists Available !!!
        </h3> -->
      </div>


      

    </div>

  </div>

  <div class="col-md-12" *ngIf="tremarks" >
    <div style="text-align:center;">
    Remarks:
    <input type="text" id="txtremarks" name="txtremarks"  [(ngModel)]="txtremarks1" style="width:500px;" placeholder="Remarks" />
    <button class="btn btn-success" (click)="RejectClick();" >Reject</button>
  </div>
</div>

</div>

